@model GazeteKapiMVC5Core.WEB.ViewModels.Settings.SettingsBaseViewModelWeb;

<style>
    .wrapper__footer .widget__footer p {
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 0;
    }

    .reference-cs {
        font-size: 11px;
        font-weight: 500;
        color: #f4c625;
        text-align: center;
        position: relative;
        top: 7px;
    }

        .reference-cs #link-reference {
            line-height: 0;
            padding: 0;
            font-size: 11px;
            font-weight: 500;
            color: #f4c625;
        }

    .wrapper__footer .widget__footer span {
        float: none;
    }

    .base-ref {
        color: #fff;
        margin-top: 10px;
        line-height: 7px;
        font-size: 12px;
    }
    .cookie-background {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: transparent;
    }
</style>
<link href="https://uploads.gazetekapı.com/front/wwwroot/css/base/pagelineweb.css" rel="stylesheet" />
<section class="wrapper__section p-0">
    <div class="wrapper__section__components">
        <!-- Footer -->
        <footer id="myFooter">
            @*<div class="wrapper__footer bg__footer-dark container boxed cookie-background" style="position: relative; top: 31px;">
                 <partial name="_CookieConsentPartial" />           
            </div>*@
            <div class="wrapper__footer bg__footer-dark" style="padding-bottom:60px;">
                <div class="container" style="margin-top:20px">
                    <div class="row">
                        <div class="col-md-4" style="padding-right:30px;">
                            <div class="widget__footer">
                                <ul class="list-unstyled option-content">
                                    <li>
                                        <a href="#"><img style="height:115px; margin:0 auto; display:flex;" src="https://uploads.gazetekapı.com/images/@Model.FooterLogo"></a>
                                    </li>
                                    <li>
                                        <hr style="background-color:#f3c625;" />
                                    </li>
                                    <li>
                                        <img src="https://uploads.gazetekapı.com/images/lemonde-son-footer.svg" style="height:73px; margin:0 auto; display:flex;" class="mt-1" />
                                    </li>
                                    <li>
                                        <hr style="background-color:#f3c625;" />
                                    </li>
                                    @*<li class="p-3">
                                    <img src="https://uploads.gazetekapı.com/images/lemondefooter.png" class="mt-1" />
                                </li>
                                <li>
                                    <hr style="background-color:#f3c625;" />
                                </li>*@
                                    <li style="text-align:center;">
                                        @*<h6 style="color:#fff;">© TÜM HAKLARI SAKLIDIR / 2022</h6>
                                    <p style="color:#f3c625; font-size:10px;">GAZETE KAPI'DA YAYIMLANAN YAZI, HABER VE FOTOĞRAFLARIN HER TÜRLÜ TELİF HAKKI ................ GAZETECİLİK VE YAYINCILIK SANAYİ VE TİCARET A.Ş.'YE AİTTİR. İZİN ALINMADAN, KAYNAK GÖSTERİLMEDEN VE LİNK VERİLMEDEN İKTİBAS EDİLEMEZ.</p>*@
                                        <h6 style="color:#fff; font-size:14px;">@Model.CopyrightTextTitle</h6>
                                        <p style="color:#f3c625; font-size:10px;">@Model.CopyrightText</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row footer-list-row">
                                <div class="col-sm-3 footer-list-row-border">
                                    <div class="widget__footer" id="footer-col-1">
                                        <ul class="list-unstyled option-content">
                                            <li>
                                                <a href="@Url.Action("cerezpolitikasi","anasayfa")" style="color:#fff;">ÇEREZ POLİTİKASI</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("gizlilikpolitikasi","anasayfa")" style="color:#fff;">GİZLİLİK İLKELERİ</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("kullanimsartlari","anasayfa")" style="color:#fff;">KULLANIM ŞARTLARI</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("kunye","anasayfa")" style="color:#fff;">KÜNYE</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("yayinilkeleri","anasayfa")" style="color:#fff;">YAYIN İLKELERİ</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("arsiv","anasayfa")" style="color:#fff;">ARŞİV</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3 footer-list-row-border">
                                    <div class="widget__footer">
                                        <ul class="list-unstyled option-content">
                                            <li>
                                                <a class="color-list" href="#">BİLİM</a>
                                            </li>
                                            <li>
                                                <a href="#">DÜNYA</a>
                                            </li>
                                            <li>
                                                <a href="#">DÜNYA FORUM</a>
                                            </li>
                                            <li>
                                                <a href="#">EKONOMİ</a>
                                            </li>
                                            <li>
                                                <a href="#">GÜNDEM</a>
                                            </li>
                                            <li>
                                                <a href="#">HAYAT</a>
                                            </li>
                                            <li>
                                                <a href="#">İNSAN HAKLARI</a>
                                            </li>
                                            <li>
                                                <a href="#">KADIN</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3 footer-list-row-border">
                                    <div class="widget__footer">
                                        <ul class="list-unstyled option-content">
                                            <li>
                                                <a href="#">KONUK YAZAR</a>
                                            </li>
                                            <li>
                                                <a href="#">KÜLTÜR-SANAT</a>
                                            </li>
                                            <li>
                                                <a href="#">POLİTİKA</a>
                                            </li>
                                            <li>
                                                <a href="#">SAĞLIK</a>
                                            </li>
                                            <li>
                                                <a href="#">SİNEMA</a>
                                            </li>
                                            <li>
                                                <a href="#">SPOR</a>
                                            </li>
                                            <li>
                                                <a href="#">TEKNOLOJİ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3 footer-list-row-border" style="border-right:1px solid #f4c625;">
                                    <div class="widget__footer">
                                        <ul class="list-unstyled option-content">
                                            <li>
                                                <a href="#">GALERİ</a>
                                            </li>
                                            <li>
                                                <a href="#">VİDEO</a>
                                            </li>
                                            <li>
                                                <a href="#">KİTAP</a>
                                            </li>
                                            <li>
                                                <a href="#">DERGİ</a>
                                            </li>
                                            <li>
                                                <a href="#">PODCAST</a>
                                            </li>
                                            <li>
                                                <a href="#">YAZARLAR</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row footer-border-end-start hidden-section">
                            <div class="col-sm-12" style="position:relative; top:3px;">
                                <h6 style="color:#f4c625; font-size:15px;">GAZETEKAPI.COM MOBİL VE TABLET UYUMLUDUR</h6>
                            </div>
                        </div>*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="wrapper__footer bg__footer-dark" style="padding-top: 15px; padding-bottom: 15px; background-color: #485252; ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="base-ref">GAZETEKAPI.COM MOBİL VE TABLET UYUMLUDUR</h6>
                        </div>
                        <div class="col-md-6">
                            <span class="reference-cs" style="float:right;"><a id="link-reference" href="https://www.ikifikir.net">İKİFİKİR İLETİŞİM</a> TARAFINDAN GELİŞTİRİLDİ</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>