@model IEnumerable<GazeteKapiMVC5Core.WEB.ViewModels.News.NewListViewModelWeb>



@foreach (var item in Model.Where(x => x.IsActive == true && x.IsLock == false))
{
    <h4 class="border_section mb-3"> </h4>
    <div class="mb-3">
        <!-- Post Article -->
        <div class="card__post card__post-list">
            @*<div class="image-sm">
                    <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                        <img style="height:100px;" src="https://uploads.gazetekapi.com/images/@item.Image" class="img-fluid" alt="">
                    </a>
                </div>*@
            <div class="card__post__body ">
                <div class="card__post__content">
                    <div class="card__post__title">
                        @*<p style="margin-bottom:10px;"><i class="fa fa-clock-o"></i> @item.PublishedTime.Value.ToString("MM/dd/yyyy HH:mm")</p>*@
                        <h6>
                            @if (item.Title.Length > 50)
                            {
                                <a style="font-size:25px; font-weight:700" href="@Url.Action("haber", "anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                    @item.Title.Substring(0, 45)<span>...</span>
                                </a>
                            }
                            else
                            { <a style="font-size:25px; font-weight:700" href="@Url.Action("haber", "anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                    @item.Title
                                </a>
                            }
                        </h6>
                        <p style="font-size:20px;">@item.Spot</p>
                        <hr />
                        <p>@Html.Raw(item.NewsContent)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}