@using GazeteKapiMVC5Core.WEB.ViewModels.News;
@using GazeteKapiMVC5Core.WEB.ViewModels.Categories;
@using GazeteKapiMVC5Core.WEB.ViewModels.TagsNews; 

@{
    int count = 0;

    List<NewListViewModelWeb> haberlerManset = ViewBag.HaberlerManset as List<NewListViewModelWeb>;
    CategoryEditViewModelWeb categoryOne = ViewBag.CategoryIdOne as CategoryEditViewModelWeb;
    //List<TagNewsListViewModelWeb> tagNewList
}

<style>
    .card__post .card__post__body .card__post__content .card__post__title p {
        line-height: 19px;
        font-size: 14px;
    }
</style>

<link href="~/assets/css/pagelinewebcard.css" type="text/css" rel="stylesheet" />

<div class="row" style="padding-bottom:5px;">
    <div class="col-sm-12">
        <div class="rect-content-box-title">
            <span class="rect-title">@categoryOne.CategoryName.Substring(0,1)</span>
        </div>
        <h3 class="content-box-title">@categoryOne.CategoryName</h3>
    </div>
</div>
<div class="row mb-2">

    @foreach (var item in haberlerManset.OrderByDescending(x => x.Id).ToList().Where(x => x.IsActive == true && x.CategoryId == categoryOne.Id && x.IsLock == false && x.GuestId == 8))
    {
        if (item.IsSlide == false)
        {
            //foreach (var tags in tagNewList.Where(x => x.NewsId == item.Id))
            //{
            //    TagListViewModelWeb newTags = new TagListViewModelWeb();
            //    newTags.Id = tags.Id;
            //    newTags.TagName = tags.tag.TagName;
            //    tagList.Add(newTags);
            //}

            count++;
                <div class="col-sm-12 col-md-6 mb-2">
                    <!-- Post Article -->
                    <div class="card__post ">
                        <div class="card__post__body">
                            <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">
                                <img style="height: 185px;" src="https://uploads.gazetekapi.com/images/@item.Image" class="img-fluid news-height-m" title="@item.Image" loading="lazy" alt="@item.Image" />
                            </a>
                            <div style="margin-top: 15px; overflow-wrap: anywhere;">
                                <h6 style="text-transform:none;">
                                    @if (item.Title.Length > 80)
                                    {
                                        <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber","anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">
                                            @item.Title.Substring(0, 80)<span>...</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber","anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">
                                            @item.Title
                                        </a>
                                    }

                                </h6>
                            </div>
                        </div>

                    </div>
                </div>

                if (count == 2)
                {
                    count = 0;
                    break;
                }
            }
    }

</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="wrapp__list__article-responsive">
            <div class="row">

                @*@foreach (var tags in tagList)
                    {
                        foreach (var tagNews in tagNewList.Where(x => x.TagId == tags.Id).ToList())
                        {
                            NewListViewModelWeb listNews = new NewListViewModelWeb();
                            listNews.Title = tagNews.news.Title;
                            listNews.Id = tagNews.news.Id;
                            listNews.Image = tagNews.news.Image;
                            listNews.CategoryId = tagNews.news.CategoryId;
                            titles.Add(listNews);
                        }
                    }

                    @{
                        newListData.AddRange(titles.GroupBy(o => new { o.Title, o.Image, o.Id, o.CategoryId }).Select(x => x.FirstOrDefault()));
                        NewListViewModelWeb[] tagsList = newListData.ToArray();
                    }*@

                @foreach (var item in haberlerManset.OrderByDescending(x=> x.Id).Where(x => x.CategoryId == 3 && x.IsLock == false && x.IsActive == true).Take(8))
                {

                    <div class="col-sm-6">
                        <div class="mb-3">
                            <!-- Post Article -->
                            <div class="card__post card__post-list">
                                <div class="image-sm">
                                    <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">
                                        <img decoding="async" style="height:65px;" src="https://uploads.gazetekapi.com/images/@item.Image" loading="lazy" class="img-fluid" title="@item.Image" alt="@item.Image" />
                                    </a>
                                </div>
                                <div class="card__post__body ">
                                    <div class="card__post__content">
                                        <div class="card__post__title">
                                            <h6 style="text-transform:none;">
                                                @if (item.Title.Length > 50)
                                                {
                                                    <a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">
                                                        @item.Title.Substring(0, 45)<span>...</span>
                                                    </a>
                                                }
                                                else
                                                { <a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">
                                                        @item.Title
                                                    </a>
                                                }
                                            </h6>
                                            @if (item.Spot.Length > 50)
                                            {<p>@item.Spot.Substring(0, 50) ...</p>}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>