@using GazeteKapiMVC5Core.WEB.ViewModels.News;
@using GazeteKapiMVC5Core.WEB.ViewModels.Categories;

@{
    List<NewListViewModelWeb> haberlerManset = ViewBag.HaberlerManset as List<NewListViewModelWeb>;
    List<CategoryListViewModelWeb> categories = ViewBag.CategoryList as List<CategoryListViewModelWeb>;
    int count = 0;
}

<style>

    .tab_trigger{}
        .tab_trigger ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            overflow-x: scroll;
        }
    .tab_trigger ul li{}
    .tab_trigger ul li label{
        position:relative;
        display:block;
        padding:8px 25px;
        cursor:pointer;
        width:max-content;
        text-align:center;
        font-weight:700;
        text-transform:uppercase;
    }

    .tab_container_wrap{}

    .tab_container_wrap input{
        position:absolute;
        width:0;
        height:0;
        margin:0;
        z-index:-100;
        top:-10000px;
    }

    .tab_container_wrap input:checked + .tab_container_box{
        display:block;
    }

    .tab_container_box{
        padding:20px;
        display:none;
    }

</style>

<div class="tab_trigger">
    <ul>
        @foreach (var item in categories.Where(x=> x.CategoryName != "DÜNYA" && x.CategoryName != "SON DAKİKA" && x.CategoryName != "YAZARLAR" && x.CategoryName != "BİLİM TEKNOLOJİ" && x.CategoryName != "YAŞAM" && x.CategoryName != "EKONOMİ" && x.CategoryName != "SİYASET" && x.CategoryName != "GÜNDEM"))
        {
        <li>
            <div class="menu-rect" style="top:12px;"></div><a asp-action="kategori" asp-controller="anasayfa" asp-route-id="@item.Id" class="menu-link"><label for="tab_@item.Id">@item.CategoryName.ToUpper()</label> </a>
        </li>
        }
    </ul>
</div>

<hr>

<div class="tab_container_wrap">

    <div class="top__news__slider">
        @foreach (var item2 in categories.Where(x => x.CategoryName != "DÜNYA" && x.CategoryName != "BİLİM TEKNOLOJİ" && x.CategoryName != "YAŞAM" && x.CategoryName != "EKONOMİ" && x.CategoryName != "SİYASET" && x.CategoryName != "GÜNDEM"))
        {
            @foreach (var item in haberlerManset
               .OrderByDescending(x => x.Id)
               .Where(x => x.IsActive == true &&
               x.IsLock == false &&
               x.CategoryId == item2.Id).ToList())
            {

                count++;
                <input type="radio" id="tab_@item2.Id" name="@item2.Id" />
                <div class="tab_container_box">
                    <div class="item" id="@item.categories.CategoryName">
                        <!-- Post Article -->
                        <div class="article__entry">
                            <div class="article__image">
                                <a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">
                                    <img src="https://uploads.gazetekapi.com/images/@item.Image" alt="@item.Image" title="@item.Image" class="img-fluid" />
                                </a>
                            </div>
                            <div class="article__content">
                                <h5 style="font-size:15px;">
                                    @if (item.Title.Length > 50)
                                    {<a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">@item.Title.Substring(0, 50)<span>...</span> </a>}
                                else
                                {
                                    <a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">@item.Title</a>
                                }
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                if (count == 4)
                {
                    count = 0;
                }

            }
        }


    </div>
</div>