@using CORE.ApplicationCommon.Helpers;
@model PaginationList<GazeteKapiMVC5Core.WEB.ViewModels.News.NewListViewModelWeb>

@{
    ViewData["Title"] = "kategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .article__entry-new .article__category {
        position: relative;
        top: 45px;
        left: 15px;
        z-index: 1;
        clear: both;
        color: #54626b;
        font-weight: 600;
        display: inline-block;
        font-size: 11px;
        font-weight:600;
        padding: 4px 10px;
        background-color: #f4c625;
        letter-spacing: 0.5px;
        line-height: 18px;
        text-transform: uppercase;
        font-family: "Montserrat",sans-serif;
    }
</style>

<section class="wrap__section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="title-head">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12 text-center">
                                <h3>
                                    @TempData["kategori"]
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4">
                                <!-- Post Article -->
                                <div class="article__entry-new">
                                    <div class="article__category">
                                        @item.categories.CategoryName
                                    </div>
                                    <div class="article__image articel__image__transition">
                                        <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                            <img src="~/Files/@item.Image" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="articel__content">

                                        <div class="article__post__title">
                                            <h5>
                                                <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                    @item.Title
                                                </a>
                                            </h5>
                                            <ul class="list-inline article__post__author">
                                                <li class="list-inline-item">
                                                    <span>@item.PublishedTime</span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        <div class="clerfix"></div>
                    </div>
           
                </div>
            </div>
        </div>
    </div>
</section>

