@using CORE.ApplicationCommon.Helpers;
@model PaginationList<GazeteKapiMVC5Core.WEB.ViewModels.News.NewListViewModelWeb>

@{
    ViewData["Title"] = "kategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://uploads.gazetekapı.com/front/wwwroot/css/base/pagelineweb.css" rel="stylesheet" />

<section class="wrap__section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="title-head">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12 text-center">
                                <h3>
                                    @TempData["kategori"]
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4">
                                <!-- Post Article -->
                                <div class="article__entry-new">
                                    <div class="article__category">
                                        @item.categories.CategoryName
                                    </div>
                                    <div class="article__image articel__image__transition">
                                        <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                            <img src="https://uploads.gazetekapı.com/images/@item.Image" alt="" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="articel__content">

                                        <div class="article__post__title">
                                            <h5>
                                                <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                    @item.Title
                                                </a>
                                            </h5>
                                            <ul class="list-inline article__post__author">
                                                <li class="list-inline-item">
                                                    <span>@item.PublishedTime</span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        <div class="clerfix"></div>
                    </div>
           
                </div>
            </div>
        </div>
    </div>
</section>

