@model List<GazeteKapiMVC5Core.WEB.ViewModels.News.NewListViewModelWeb>

<link href="~/assets/css/loaddata.css" rel="stylesheet" />

<div style="margin-top:30px;"></div>
<div class="row" style="padding-bottom:5px;">
    <div class="col-sm-12">
        <div class="rect-content-box-title">
            <span class="rect-title">G</span>
        </div>
        <h4 class="content-box-title">Gündem</h4>
    </div>
</div>
<div class="row">

    @foreach (var item in Model)
    {
            <div class="col-sm-12 col-md-6 mb-4">
                <!-- Post Article -->
                <div class="card__post ">
                    <div class="card__post__body">
                        <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, MetaTitle = item.GenerateSlug() })">
                            <img src="https://uploads.gazetekapi.com/images/@item.Image" title="@item.Image"
                         class="img-fluid" alt="@item.Image" decoding="async" loading="lazy" />
                        </a>
                        <div style="margin-top:15px;">
                            <h6>
                                <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                    @item.Title
                                </a>
                            </h6>
                        </div>
                    </div>

                </div>
            </div>
    }

</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
