@using GazeteKapiMVC5Core.WEB.ViewModels.News;

@{
    ViewData["Title"] = "sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<NewListViewModelWeb> haberlerManset = ViewBag.HaberlerManset as List<NewListViewModelWeb>;
    int count = 0;
}

<link href="https://uploads.gazetekapı.com/front/wwwroot/css/base/base.css" rel="stylesheet" />

<!-- Popular news -->
<section style="padding:0px;">

    <!-- Popular news header-->
    <div class="popular__news-header">
        <div class="container">
            <div class="row no-gutters">
                @{ await Html.RenderPartialAsync("Slider");}
            </div>
        </div>
    </div>
    <!-- End Popular news header-->
    <!-- Popular news carousel -->
    <div class="popular__news-header-carousel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @{ await Html.RenderPartialAsync("Carousel");}
                </div>
            </div>
        </div>
    </div>
    <!-- End Popular news carousel -->

</section>
<!-- End Popular news

<!-- Popular news category -->
<section class="pt-0">

    <div class="popular__section-news">
        <div class="container">
            <div class="wrapper__list__article">
                <h4 class="border_section"></h4>
            </div>
            <div class="row">

                <!--Gündem-->
                <div class="col-md-12 col-lg-8">
                    @{ await Html.RenderPartialAsync("Gundem");}
                </div>
                <!--Gündem-->
                <!--Yazar-->
                <div class="col-md-12 col-lg-4">
                    @{ await Html.RenderPartialAsync("Yazar");}
                </div>
                <!--Yazar-->

            </div>
        </div>
    </div>

    <!-- Post news carousel -->
    <div class="container">
        <div class="wrapper__list__article">
            <h4 class="border_section"></h4>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom:5px; margin-top:5px;">
                <div class="rect-content-box-title">
                    <span class="rect-title">D</span>
                </div>
                <h4 class="content-box-title">Dünya</h4>
            </div>
            <div class="col-md-12">
                <div class="article__entry-carousel">
                    @foreach (var item in haberlerManset.Where(x => x.categories.CategoryName == "Dünya").OrderBy(x => x.Id))
                    {
                        count++;

                        <div class="item">
                            <!-- Post Article -->
                            <div class="article__entry">
                                <div class="article__image">
                                    <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                        <img src="https://uploads.gazetekapı.com/images/@item.Image" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="article__content">
                                    <h5 style="font-size:15px;">
                                        @if (item.Title.Length > 60)
                                        {
                                            <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                @item.Title.Substring(0, 60)
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                @item.Title
                                            </a>
                                        }

                                    </h5>

                                </div>
                            </div>
                        </div>

                        if (count == 4)
                        {
                            count = 0;
                            break;
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <!-- End Popular news category -->
    <!-- Popular news category -->
    <div class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="background-color:#515d5e; padding:20px;">
                    <div class="rect-content-box-title">
                        <span class="rect-title">K</span>
                    </div>
                    <h4 class="content-box-title" style="color:#fff;">Kültür / Sanat</h4>

                    <div class="row" style="margin-top:15px;">

                        @foreach (var item in haberlerManset.Where(x => x.categories.CategoryName == "Kültür / Sanat").OrderBy(x => x.Id))
                        {
                            count++;
                            <div class="col-sm-12 col-md-4 mb-1">
                                <!-- Post Article -->
                                <div class="card__post ">
                                    <div class="card__post__body">
                                        <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                            <img src="https://uploads.gazetekapı.com/images/@item.Image" class="img-fluid" alt="">
                                        </a>
                                        <div style=" margin-top: 0px; background-color: #fff; padding: 15px;">
                                            <h6>
                                                @if (item.Title.Length > 60)
                                                {
                                                    <a style="color:#515d5e;" href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                        @item.Title.Substring(0,60)
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a style="color:#515d5e;" href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                        @item.Title
                                                    </a>
                                                }

                                            </h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            if (count == 3)
                            {
                                count = 0;
                                break;
                            }
                        }

                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
<!-- End Popular news category -->

<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>