@using GazeteKapiMVC5Core.WEB.ViewModels.News;
@using GazeteKapiMVC5Core.WEB.ViewModels.Categories;
@using GazeteKapiMVC5Core.WEB.ViewModels.Banner;

@{
    ViewData["Title"] = "sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<NewListViewModelWeb> haberlerManset = ViewBag.HaberlerManset as List<NewListViewModelWeb>;
    List<CategoryListViewModelWeb> categories = ViewBag.CategoryList as List<CategoryListViewModelWeb>;

    int count = 0;
}

@{
    BannerEditViewModelWeb bannerOrta = ViewBag.BannerOrta as BannerEditViewModelWeb;
    BannerEditViewModelWeb bannerAlt = ViewBag.BannerAlt as BannerEditViewModelWeb;
}

<style>
    .content-new-title {
        color: #fff;
        position: relative;
        left: 7px;
        top: 2px;
    }
</style>

<link href="~/assets/css/base/base.css" rel="stylesheet" />

<!-- Popular news -->
<section style="padding:0px;">

    <!-- Popular news header-->
    <div class="popular__news-header">
        <div class="container boxed">
            <div class="row no-gutters">
                @{ await Html.RenderPartialAsync("Slider");}
            </div>
        </div>
    </div>
    <!-- End Popular news header-->
    <!-- Popular news carousel -->
    <div class="popular__news-header-carousel">
        <div class="container boxed">
            <div class="row">
                <div class="col-lg-12">
                    @{ await Html.RenderPartialAsync("Carousel");}
                </div>
            </div>
        </div>
    </div>
    <!-- End Popular news carousel -->

</section>
<!-- End Popular news

<!-- Popular news category -->
<section class="pt-0">

    <div class="popular__section-news">
        <div class="container boxed">
            <div class="wrapper__list__article">
                <h4 class="border_section" style="padding-bottom:14px;"></h4>
            </div>
            <div class="row">

                <!--Gündem-->
                <div class="col-md-12 col-lg-8">
                    @{ await Html.RenderPartialAsync("Gundem");}
                </div>
                <!--Gündem-->
                <!--Yazar-->
                <div class="col-md-12 col-lg-4">
                    @{ await Html.RenderPartialAsync("Yazar");}
                </div>
                <!--Yazar-->

            </div>
        </div>
    </div>
    <div class="container boxed">
        <div class="row">
            <div class="col-sm-12">

                @if (bannerOrta.IsActive == true)
                {
                    @if (bannerOrta.BannerFrame != null)
                    {
                        @Html.Raw(bannerOrta.BannerFrame)
                    }
                    else
                    {
                        <a href="@bannerOrta.Link">
                            <img src="https://uploads.gazetekapi.com/images/@bannerOrta.BannerImage" title="@bannerOrta.BannerName" alt="@bannerOrta.BannerName" loading="lazy" />
                        </a>
                    }
                }

            </div>
        </div>
    </div>

    @foreach (var item in categories.Where(x => x.IsActive == true))
    {
        if (item.StyleId == 1)
        {
            <div class="container boxed mt-4">
                <div class="wrapper__list__article">
                    <h4 class="border_section"></h4>
                </div>
                <div class="row" style="padding-bottom:5px;">
                    <div class="col-sm-12">
                        <div class="rect-content-box-title" style="left:9px;">
                            <span class="rect-title">@item.CategoryName.Substring(0, 1)</span>
                        </div>
                        <h3 class="content-box-title" style="top:0;">@item.CategoryName</h3>
                    </div>
                </div>
                <div class="row mb-2">

                    @foreach (var item2 in haberlerManset.OrderByDescending(x => x.Id).Where(x => x.IsActive == true && x.IsLock == false && x.CategoryId == item.Id && x.GuestId == 8))
                    {

                        if (item2.IsSlide == false)
                        {

                            count++;
                            <div class="col-sm-12 col-md-4 mb-2">
                                <!-- Post Article -->
                                <div class="card__post ">
                                    <div class="card__post__body">
                                        <a href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                            <img src="https://uploads.gazetekapi.com/images/@item2.Image" class="img-fluid news-height-m" title="@item2.Image" loading="lazy" style="height: 185px;" alt="@item2.Image" />
                                        </a>
                                        <div style="margin-top:15px;">
                                            <h6>
                                                @if (item2.Title.Length > 80)
                                                {
                                                    <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                                        @item2.Title.Substring(0, 80)<span>...</span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                                        @item2.Title
                                                    </a>
                                                }

                                            </h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            if (count == 6)
                            {
                                count = 0;
                                break;
                            }
                        }

                    }

                </div>
            </div>
        }

        if (item.StyleId == 2)
        {
            <div class="container boxed mt-4">
                <div class="wrapper__list__article">
                    <div class="rect-content-box-title" style="margin-right:5px;">
                        <span class="rect-title">@item.CategoryName.Substring(0, 1)</span>
                    </div>
                    <h4 class="border_section" style="top:3px; left:5px;">@item.CategoryName</h4>
                    <div class="wrapp__list__article-responsive">

                        @foreach (var item2 in haberlerManset.OrderByDescending(x => x.Id).Where(x => x.IsActive == true && x.IsLock == false && x.CategoryId == item.Id && x.GuestId == 8))
                        {
                            if (item2.IsSlide == false)
                            {
                                count++;
                                <div class="card__post card__post-list card__post__transition mt-30">
                                    <div class="row ">
                                        <div class="col-md-5">
                                            <div class="card__post__transition">
                                                <a href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                                    <img src="https://uploads.gazetekapi.com/images/@item2.Image" class="img-fluid w-100 news-height-m" alt="@item2.Title" title="@item2.Title" style="height: 230px;" loading="lazy">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-7 my-auto pl-0">
                                            <div class="card__post__body ">
                                                <div class="card__post__content  ">
                                                    <div class="card__post__category ">
                                                        @item2.categories.CategoryName
                                                    </div>
                                                    <div class="card__post__author-info mb-2">
                                                        <ul class="list-inline">

                                                            <li class="list-inline-item">
                                                                <span class="text-dark text-capitalize">
                                                                    @item2.PublishedTime.Value.ToString("dd/MM/yyyy HH:mm")
                                                                </span>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <div class="card__post__title">
                                                        @if (item2.Title.Length > 80)
                                                        {
                                                            <h5>
                                                                <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                                                    @item2.Title.Substring(0, 80)<span>...</span>
                                                                </a>
                                                            </h5>
                                                        }
                                                        else
                                                        {
                                                            <h5>
                                                                <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                                                    @item2.Title
                                                                </a>
                                                            </h5>
                                                        }
                                                        @if (item2.Spot.Length > 120)
                                                        {
                                                            <p class="d-none d-lg-block d-xl-block mb-0">
                                                                @item2.Spot.Substring(0, 120) <span>...</span>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <p class="d-none d-lg-block d-xl-block mb-0">
                                                                @item2.Spot
                                                            </p>
                                                        }
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                if (count == 6)
                                {
                                    count = 0;
                                    break;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }

        if (item.StyleId == 3)
        {
            <div class="container boxed mt-4" style="max-width:1000px;">
                <div class="row">
                    <div class="col-md-12" style="background-color:#515d5e; padding:20px;">
                        <div class="rect-content-box-title">
                            <span class="rect-title">@item.CategoryName.Substring(0, 1)</span>
                        </div>
                        <h1 class="content-new-title" style="font-size:24px;">@item.CategoryName</h1>

                        <div class="row" style="margin-top:15px;">
                            @foreach (var item2 in haberlerManset.OrderByDescending(x => x.Id).Where(x => x.CategoryId == item.Id && x.IsLock == false && x.IsActive == true && x.IsSlide == false && x.isArchive == false && x.GuestId == 8))
                            {

                                count++;
                                <div class="col-sm-12 col-md-4 mb-1">
                                    <!-- Post Article -->
                                    <div class="card__post ">
                                        <div class="card__post__body">
                                            <a href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                                <img style="height: 175px;" src="https://uploads.gazetekapi.com/images/@item2.Image" title="@item2.Image" class="img-fluid news-height-m" loading="lazy" alt="@item2.Image" />
                                            </a>
                                            <div style=" margin-top: 0px; background-color: #fff; padding: 15px;">
                                                <h6>
                                                    @if (item2.Title.Length > 55)
                                                    {
                                                        <a style="color:#515d5e;" href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                                            @item2.Title.Substring(0, 55)<span>...</span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a style="color:#515d5e;" href="@Url.Action("haber", "anasayfa", new { Id = item2.Id, Title = item2.GenerateSlug() })">
                                                            @item2.Title
                                                        </a>
                                                    }

                                                </h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                @if (count == 3)
                                {
                                    count = 0;
                                    break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

        }

    }

    <div class="mt-4">
        <div class="container boxed">
            <div class="row">
                <div class="col-sm-12">

                    @if (bannerAlt.IsActive == true)
                    {
                        @if (bannerAlt.BannerFrame != null)
                        {
                           @Html.Raw(bannerAlt.BannerFrame)
                        }
                        else
                        {
                            <a href="@bannerAlt.Link">
                                <img src="https://uploads.gazetekapi.com/images/@bannerAlt.BannerImage" title="@bannerAlt.BannerName" alt="@bannerAlt.BannerName" loading="lazy" />
                            </a>
                        }
                    }

                </div>
            </div>
        </div>

    </div>

</section>
<!-- End Popular news category -->
