@using GazeteKapiMVC5Core.WEB.ViewModels.News;

@{
    List<NewListViewModelWeb> haberlerManset = ViewBag.HaberlerManset as List<NewListViewModelWeb>;
    int count = 0;

}

<style>
    .popular__news-right .card__post .card__post__body img {
        position: relative;
        height: 229.5px;
    }
</style>

<link href="https://uploads.gazetekapi.com/front/css/base/slider.css" rel="stylesheet" />

<div class="col-md-8 slide-width">
    <div class="slideshow-container" style="margin-top:3px;">
        @foreach (var item in haberlerManset.OrderBy(x => x.RowNo).Where(x => x.IsActive == true && x.IsSlide == true && x.IsLock == false).Take(10))
        {
            <div class="mySlides">
                <div class="card__post__body card__post__transition">
                    <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                        <img src="https://uploads.gazetekapi.com/images/@item.Image" alt="@item.Image" class="img-slide" />
                    </a>

                    <div class="text">
                        <div class="title-word-big-right">
                            <a class="next" onclick="plusSlides(1)"><img src="https://uploads.gazetekapi.com/images/chevron_next.png" title="chevron-next" alt="chevron-next" width="20" /></a>
                        </div>
                        @if (item.IsTitle == true)
                        {
                            <h2 class="title-slide">
                                @if (item.Title.Length > 70)
                                {
                                    <a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">@item.Title.Substring(0, 70)<span>...</span> </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">@item.Title</a>
                                }
                            </h2>
                        }

                        <div class="title-word-big">
                            <a class="next" onclick="plusSlides(-1)"><img src="https://uploads.gazetekapi.com/images/chevron_prev.png" title="chevron-prev" alt="chevron-prev" width="20" /></a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<div class="col-md-4">
    <div class="popular__news-right">
        <!-- Post Article -->
        @foreach (var item in haberlerManset.OrderByDescending(x => x.Id).Where(x => x.IsActive == true && x.IsLock == false).ToList())
        {

            @if (item.IsSlide == false)
            {
                count++;

                <div class="card__post" style="margin-top:2px;">
                    <div class="card__post__body card__post__transition">
                        <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                            <img src="https://uploads.gazetekapi.com/images/@item.Image" title="@item.Image" class="img-fluid" alt="@item.Image" />
                        </a>
                        <div class="text-sm">
                            <div class="title-word-big-sm">
                                <a class="next-sm" style="color:#515d5e;">@item.categories.CategoryName.Substring(0, 1).ToUpper()</a>
                            </div>
                            <span class="title-slide-sm">
                                @if (item.Title.Length > 80)
                                {<a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">@item.Title.Substring(0, 80)<span>...</span> </a>}
                            else
                            {
                                <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">@item.Title</a>
                            }
                            </span>
                        </div>
                    </div>
                </div>

                if (count == 2)
                {
                    count = 0;
                    break;
                }
            }
        }

    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>