@using GazeteKapiMVC5Core.WEB.ViewModels.News;

@{
    List<NewListViewModelWeb> haberlerManset = ViewBag.HaberlerManset as List<NewListViewModelWeb>;
    int count = 0;

}

<link href="https://uploads.gazetekapı.com/front/wwwroot/css/base/slider.css" rel="stylesheet" />

<div class="col-md-8 slide-width">
    <div class="slideshow-container" style="margin-top:2px;">
        @foreach (var item in haberlerManset)
        {
            @if (item.IsSlide == true)
            {
                <div class="mySlides">
                    <div class="card__post__body card__post__transition">
                        <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                            <img src="https://uploads.gazetekapı.com/images/@item.Image" class="img-slide">
                        </a>

                        <div class="text">
                            <div class="title-word-big">
                                <a class="next" onclick="plusSlides(1)"><img src="https://uploads.gazetekapı.com/images/chevron_next.png" width="20" /></a>
                            </div>
                            <span class="title-slide">
                                @if (item.Title.Length > 80)
                                {<a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">@item.Title.Substring(0, 80)<span>...</span> </a>}
                            else
                            {
                                <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">@item.Title</a>
                            }
                            </span>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<div class="col-md-4">
    <div class="popular__news-right">
        <!-- Post Article -->
        @foreach (var item in haberlerManset.OrderByDescending(x => x.Id).ToList())
        {

            @if (item.IsSlide == false)
            {
                count++;

                <div class="card__post" style="margin-top:2px;">
                    <div class="card__post__body card__post__transition">
                        <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                            <img src="https://uploads.gazetekapı.com/images/@item.Image" class="img-fluid" alt="">
                        </a>
                        <div class="text-sm">
                            <div class="title-word-big-sm">
                                <a class="next-sm" style="color:#515d5e;">@item.categories.CategoryName.Substring(0, 1).ToUpper()</a>
                            </div>
                            <span class="title-slide-sm">
                                @if (item.Title.Length > 80)
                                {<a href="@Url.Action("haber", "anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">@item.Title.Substring(0, 80)<span>...</span> </a>}
                            else
                            {
                                <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">@item.Title</a>
                            }
                            </span>
                        </div>
                    </div>
                </div>

                if (count == 2)
                {
                    count = 0;
                    break;
                }
            }
        }

    </div>
</div>
