@using CORE.ApplicationCommon.Helpers;
@using GazeteKapiMVC5Core.WEB.ViewModels.Guests;
@model PaginationList<GazeteKapiMVC5Core.WEB.ViewModels.News.NewListViewModelWeb>
@using GazeteKapiMVC5Core.WEB.ViewModels.Categories;

@{
    ViewData["Title"] = "Yazarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    GuestBaseViewModelWeb guest = ViewBag.Guest as GuestBaseViewModelWeb;
    List<CategoryListViewModelWeb> categories = ViewBag.Categories as List<CategoryListViewModelWeb>;
}

@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<style>
    .team-member .member figcaption ul.list-inline li.list-inline-item a {
        float: left;
        color: #fff;
        font-size: 13px;
        height: 30px;
        width: 30px;
        background-color: #f4c625;
        padding: 5px;
    }

    section {
        padding: 6px 0;
    }

    .card__post .card__post__body img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        height: 134px;
        position: relative;
    }
    .wrapper__list__article .border_section:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 2px;
        background: #f4c625;
        z-index: 1;
    }
    .wrapper__list__article .border_section:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #eee;
    }

</style>

<link href="https://uploads.gazetekapi.com/front/css/base/pagelineweb.css" type="text/css" rel="stylesheet" />

<section>
    <div class="container boxed">
        <div class="row">
            <div class="col-md-12">
                <div class="team-member row">
                    <div class="col-md-3">
                        <figure class="member">
                            <img src="https://uploads.gazetekapi.com/images/@guest.GuestImage"
                                 class="img-fluid" alt="@guest.GuestImage" title="@guest.GuestImage" />
                            <figcaption>
                                <small>Yazar</small>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-facebook"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-twitter"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-youtube-play"
                                               aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-md-9">
                        @if (Model != null)
                        {
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <h3>
                                        @guest.GuestName - Yazıları
                                    </h3>
                                </div>
                            </div>
                            <div class="wrapper__list__article">
                                <h4 class="border_section"></h4>
                            </div>
                            <div class="row">

                                @foreach (var item in Model.OrderByDescending(x => x.Id).Where(x=> x.IsActive == true && x.IsLock == false))
                                {
                                    <div class="col-lg-4">
                                            <div class="card__post ">
                                                <div class="card__post__body">
                                                    <a href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                        <img src="https://uploads.gazetekapi.com/images/@item.Image" title="@item.Image" alt="@item.Image" class="img-fluid" />
                                                    </a>
                                                    <div style="margin-top:15px;">
                                                        <h6>
                                                            @if (item.Title.Length > 40)
                                                            {
                                                                <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                                    @item.Title.Substring(0, 40)<span>...</span>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a id="btn-article" style="color:#515d5e;" href="@Url.Action("haber","anasayfa", new { Id = item.Id, Title = item.GenerateSlug() })">
                                                                    @item.Title
                                                                </a>
                                                            }

                                                        </h6>
                                                        <ul class="list-inline article__post__author">
                                                            <li class="list-inline-item">
                                                                <span style="font-size:14px;">@item.PublishedTime.Value.ToString("dd/MM/yyyy HH:mm")</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                                }

                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mt-4">
                                        <!-- pagination -->
                                        <!-- Pagination -->
                                        <div class="pagination-area">
                                            <div class="pagination wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s"
                                                 style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                                                <a asp-action="yazaryazilari" class="btn btn-link">Başa Dön</a>
                                                <a asp-action="yazaryazilari" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-link @prevDisabled">Önceki</a>
                                                <a asp-action="yazaryazilari" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-link @nextDisabled">Sonraki</a>
                                            </div>
                                        </div>
                                        <!-- End pagination -->
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


