@model IEnumerable<GazeteKapiMVC5Core.Models.News.NewsModel.NewsLıstItemModel>
@{
    ViewData["Title"] = "HaberSirala";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int rowNo = 0;
}

<link href="https://uploads.gazetekapı.com/admin/wwwroot/assets/css/pageline.css" rel="stylesheet" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="card-title">Manşet Haberleri Sırala</h4>
                        <p class="card-title-desc">Ana Sayfanızdaki manşet bölümünüz için haberlerinizi sıralayın</p>
                    </div>

                </div>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-bs-pattern="priority-columns">
                        <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">#</th>
                                    <th>Başlık</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderBy(x => x.Sorted).Where(x => x.IsActive == true && x.IsSlide == true && x.IsLock == false).Take(10))
                                {
                                    <tr class="button-items" id="tooltip-container">
                                        <td style="text-align:center;">@Html.DisplayFor(model => item.Id)</td>
                                        <td>
                                            <a data-bs-container="#tooltip-container"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="top" title="Haberi Düzenle"
                                               asp-action="HaberDuzenle" asp-controller="Haber" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                                        </td>
                                        @*<td>
                                                @if (item.Sorted == 1)
                                                {
                                                    <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                       title="Aşağı İndir" asp-action="asagiindir" asp-route-id="@item.Id" class="ml-1"><i class="mdi mdi-arrow-down mdi-24px"></i></a>
                                                }
                                                else
                                                {
                                                    <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                       title="Yukarı Taşı" asp-action="yukaritasi" asp-route-id="@item.Id" class="ml-1"><i class="mdi mdi-arrow-up mdi-24px"></i></a>
                                                    <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                       title="Aşağı İndir" asp-action="asagiindir" asp-route-id="@item.Id" class="ml-1"><i class="mdi mdi-arrow-down mdi-24px"></i></a>
                                                }
                                            </td>*@
                                        <td>
                                            @{ string dataId = item.Id + "_siraInput"; }
                                            <input style="width:50px; float:left;" type="text" asp-for="@item.Sorted" id="@dataId" class="form-control" />
                                            <button type="submit" onclick="sirala(@item.Id);" id="btnsubmit" class="btn btn-info btn-block">
                                                <i id="edit" class="fa fa-edit"></i>
                                                <i id="process" class="fa fa-spinner fa-spin" style="font-size: 18px; display: none;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var sirala = function (Id) {

        document.getElementById("edit").style.display = "none";
        document.getElementById("process").style.display = "block";

        var sira = $("#" + Id + "_siraInput").val();
        var id = Id; 

        $.ajax({
            type: "POST",
            url: "/Haber/siraDegistir",
            data: { id: id, sira: sira },
            success: function (response) {
                window.location.href = '@Url.Action("HaberSirala","Haber")';
            }
        });
    }
</script>