@model GazeteKapiMVC5Core.Models.News.NewsModel.NewsEditViewModel

@{
    ViewData["Title"] = "HaberOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<style>
    .input-group {
        position: relative;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
</style>

<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<link href="~/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

<form method="post" asp-action="HaberDuzenle" asp-controller="Haber" enctype="multipart/form-data">
    @Html.HiddenFor(x=> x.Id)
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <input asp-for="Title" autocomplete="off" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Haber için başlık giriniz" id="example-text-input">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <textarea asp-for="Spot" autocomplete="off" rows="4" cols="50" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Haber için spot giriniz" id="example-text-input"></textarea>
                        <span asp-validation-for="Spot" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">İçerik</label>
                        <textarea asp-for="NewsContent" rows="75" cols="150" class="ckeditor"></textarea>
                        <span asp-validation-for="NewsContent" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Etiket (Zorunlu Değildir - SEO için önerilir)</label>
                        <input asp-for="Tag" autocomplete="off" data-toggle="tooltip" name="Tag" data-placement="bottom" class="form-control" type="text" placeholder="Haber için etiketler giriniz" id="example-text-input">
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Haber Ayarları</label>
                        <div class="row">
                            <div class="col-sm-4">
                                <select asp-for="PublishTypeId" asp-items="@ViewBag.PublishTypes" class="form-control">
                                    <option selected="selected" value="999">Haber tipi seçiniz (Zorunlu)</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select asp-for="GuestId" asp-items="@ViewBag.Guests" class="form-control">
                                    <option selected="selected" value="999">Yazar seçiniz (Zorunlu Değildir)</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group me-1" style="width:100%">
                                <button type="submit" style="width:75%" class="btn btn-primary">Haberi Yayınla</button>
                                <button type="button" style="width:25%" class="btn btn-indigo dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <label style="padding:15px;">Zamana göre yayınla</label>
                                    <div class="input-group" style="padding-right:10px; padding-left:10px; padding-bottom:5px;" id="datepicker2">
                                        <input type="text" asp-for="PublishedTime" class="form-control" placeholder="01 Jan, 2020"
                                               data-date-format="dd M, yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                                               data-date-autoclose="true">

                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                    <hr />
                                    <a style="padding:15px;" asp-controller="Haber" asp-action="HaberSil" asp-route-id="@Model.Id" class="btn btn-link"><span style="color:red;">Haberi Sil</span></a>
                                </div>
                            </div><!-- /btn-group -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <img id="img" style="width:100%" src="~/Files/@Model.Image" />
                            <label for="example-text-input" class="col-sm-12 col-form-label text-center" style="margin-top:10px;">Öne Çıkan Görseli Güncelle</label>
                            <input type="file" class="filestyle" id="upload" data-input="false" name="file" data-buttonname="btn-secondary">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsCommentActive" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Haberi yorumlara aç</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsOpenNotifications" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Haber bildirimlerini etkinleştir</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsSlide" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Haberi manşete taşı</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/select2/js/select2.min.js"></script>
<script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<script>
    $(function () {
        $('#upload').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#img').attr('src', '~/assets/Files/user.png');
            }
        });

    });
</script>