@model GazeteKapiMVC5Core.Models.News.NewsModel.NewsCreateViewModel

@{
    ViewData["Title"] = "HaberOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<link href="https://uploads.gazetekapı.com/admin/wwwroot/assets/css/pageline.css" rel="stylesheet" />

<form method="post" asp-action="HaberOlustur" asp-controller="Haber" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <input asp-for="MetaTitle" autocomplete="off" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Haber için ana başlık giriniz (*SEO için önerilir)" id="example-text-input">
                        <span asp-validation-for="MetaTitle" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Title" autocomplete="off" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Haber için manşet başlık giriniz" id="example-text-input">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <textarea asp-for="Spot" autocomplete="off" rows="4" cols="50" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Haber için spot giriniz" id="example-text-input"></textarea>
                        <span asp-validation-for="Spot" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        @*<textarea asp-for="NewsContent" rows="3" cols="150" class="ckeditor"></textarea>*@
                        <textarea asp-for="NewsContent" rows="3" cols="150" id="editor"></textarea>

                        <span asp-validation-for="NewsContent" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Etiket (* Zorunlu alan - SEO için önerilir)</label>
                        <input asp-for="Tag" autocomplete="off" data-toggle="tooltip" name="Tag" data-placement="bottom" class="form-control" type="text" placeholder="Haber için etiketler giriniz" id="example-text-input">
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Haber Ayarları</label>
                        <div class="row">
                            <div class="col-sm-4">
                                <select asp-for="PublishTypeId" asp-items="@ViewBag.PublishTypes" class="form-control">
                                    <option selected="selected" value="999">Haber tipi seçiniz (Zorunlu)</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select asp-for="GuestId" asp-items="@ViewBag.Guests" class="form-control">
                                    <option selected="selected" value="999">Yazar seçiniz (Zorunlu Değildir)</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            @if (ViewBag.Hata != null)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <label style="margin:0;">@ViewBag.Hata</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <img id="img" style="width:100%" src="https://uploads.gazetekapı.com/images/imgdefault.jpg" />
                            <label style="margin-top:10px;" class="col-sm-12 text-center">*(835x510 dosya boyutu)</label>
                            <label for="example-text-input" class="col-sm-12 col-form-label text-center">Öne Çıkan Görsel Belirle</label>
                            <input type="file" class="filestyle" id="upload" data-input="false" name="file" data-buttonname="btn-secondary">
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1">
                                <input type="checkbox" asp-for="IsCommentActive" />
                            </div>
                            <div class="col-sm-11">
                                <label class="col-sm-11">Haberi yorumlara aç</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsTitle" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Manşet Başlığı Göster</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsOpenNotifications" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Haber bildirimlerini etkinleştir</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsSlide" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Haberi manşete taşı</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <button type="submit" id="newsBtn" style="width:100%" class="btn btn-primary">Haberi Oluştur</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@*<script src="https://uploads.gazetekapı.com/admin/wwwroot/ckeditor/ckeditor.js"></script>*@
<script src="~/assets/css/ckeditor/ckeditor.js"></script>
<script src="https://uploads.gazetekapı.com/admin/wwwroot/assets/libs/jquery/jquery.min.js"></script>

<script>
    $(function () {
        $('#upload').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#img').attr('src', '~/assets/Files/user.png');
            }
        });

    });
</script>

<script>

    class MyUploadAdapter {
        constructor(loader) {
            this.loader = loader;
        }

        upload() {
            return this.loader.file
                .then(file => new Promise((resolve, reject) => {
                    this._initRequest();
                    this._initListeners(resolve, reject, file);
                    this._sendRequest(file);
                }));
        }

        abort() {
            if (this.xhr) {
                this.xhr.abort();
            }
        }

        _initRequest() {
            const xhr = this.xhr = new XMLHttpRequest();

            xhr.open('POST', '@Url.Action("UploadImages","Haber")', true);
            xhr.responseType = 'json';
        }

        // Initializes XMLHttpRequest listeners.
        _initListeners(resolve, reject, file) {
            const xhr = this.xhr;
            const loader = this.loader;
            const genericErrorText = `Couldn't upload file: ${file.name}.`;

            xhr.addEventListener('error', () => reject(genericErrorText));
            xhr.addEventListener('abort', () => reject());
            xhr.addEventListener('load', () => {
                const response = xhr.response;

                if (!response || response.error) {
                    return reject(response && response.error ? response.error.message : genericErrorText);
                }

                resolve({
                    default: response.url
                });
            });

            if (xhr.upload) {
                xhr.upload.addEventListener('progress', evt => {
                    if (evt.lengthComputable) {
                        loader.uploadTotal = evt.total;
                        loader.uploaded = evt.loaded;
                    }
                });
            }
        }

        _sendRequest(file) {
            const data = new FormData();

            data.append('upload', file);

            this.xhr.send(data);
        }
    }

    function MyCustomUploadAdapterPlugin(editor) {
        editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
            return new MyUploadAdapter(loader);
        };
    }
  
    ClassicEditor
        .create(document.querySelector('#editor'), {
            extraPlugins: [MyCustomUploadAdapterPlugin],    
        }).then(editor => {
            window.editor = editor;
        })

        .catch(error => {
            console.error(error);
        });

</script>

<script type="text/javascript">
    $(function () {
        $("#newsBtn").on("click", function () {
            window.setTimeout(function () {
                $("#newsBtn").attr("disabled", true);
            }, 100);
            document.getElementById("newsBtn").innerHTML = "Haber Oluşturuluyor...";
        })
    })
</script>

<script>
    $(function () {
        var config = {
            toolbar:
                [
                    ['Bold', 'Italic', 'Underline', 'Strike', '-', 'Subscript', 'Superscript'],
                    ['NumberedList', 'BulletedList', '-', 'Blockquote'],
                    ['Styles', 'Format'],
                    ['Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll'],
                ],

            contentsCss: ["body {font-size: 18px;}"],

            /*uiColor: ['#ff0000'],*/
        };

        $('#cke_NewsContent').ckeditor(config);
    });
</script>