@model GazeteKapiMVC5Core.Models.News.NewsModel.NewsEditViewModel
@using GazeteKapiMVC5Core.Models.News.NewsModel;

@{
    ViewData["Title"] = "HaberOlustur";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<NewsLıstItemModel> newsList = ViewBag.News as List<NewsLıstItemModel>;
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<style>
    .scroller {
        width: 500px;
        height: 500px;
        overflow-y: scroll;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
    }
</style>

<link href="https://uploads.gazetekapi.com/admin/wwwroot/assets/css/pageline.css" rel="stylesheet" />
<link href="https://uploads.gazetekapi.com/admin/wwwroot/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<link href="https://uploads.gazetekapi.com/admin/wwwroot/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

<form method="post" asp-action="HaberDuzenle" asp-controller="Haber" enctype="multipart/form-data">

    @Html.HiddenFor(x => x.Id)

    @if (TempData["durum"] != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success" style="text-align:center;">
                    <p style="margin:0;">@TempData["durum"]</p>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.Hata != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-danger" style="text-align:center;">
                    <p style="margin:0;">@ViewBag.Hata</p>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <input asp-for="MetaTitle" autocomplete="off" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Haber için ana başlık giriniz (*SEO için önerilir)" id="example-text-input">
                        <span asp-validation-for="MetaTitle" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Title" autocomplete="off" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Haber için manşet başlık giriniz" id="example-text-input">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <textarea asp-for="Spot" autocomplete="off" rows="4" cols="50" data-toggle="tooltip" data-placement="bottom" class="form-control" type="text" placeholder="Haber için spot giriniz" id="example-text-input"></textarea>
                        <span asp-validation-for="Spot" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <textarea asp-for="NewsContent" rows="75" cols="150" id="editor"></textarea>
                        <span asp-validation-for="NewsContent" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Etiket (* Zorunlu alan - SEO için önerilir)</label>
                        <input asp-for="Tag" autocomplete="off" data-toggle="tooltip" name="Tag" data-placement="bottom" class="form-control" type="text" placeholder="Haber için etiketler giriniz" id="example-text-input">
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">Haber Ayarları</label>
                        <div class="row">
                            <div class="col-sm-4">
                                <select asp-for="PublishTypeId" asp-items="@ViewBag.PublishTypes" class="form-control">
                                    <option selected="selected" value="999">Haber tipi seçiniz (Zorunlu)</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select asp-for="GuestId" asp-items="@ViewBag.Guests" class="form-control">
                                    <option selected="selected" value="999">Yazar seçiniz (Zorunlu Değildir)</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="example-text-input" class="col-sm-12 col-form-label">
                            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#listNews">Haber İlişkilendir</button>
                            <button type="button" class="btn btn-warning waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#listNewsRelated">İlişkili Haberler</button>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group me-1" style="width:100%">
                                <button type="submit" style="width:75%" class="btn btn-primary" id="newsBtn">Haberi Yayınla</button>
                                <button type="button" style="width:25%" class="btn btn-indigo dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <label style="padding:15px;">Zamana göre yayınla</label>
                                    <div class="input-group" style="padding-right:10px; padding-left:10px; padding-bottom:5px;" id="datepicker2">
                                        <input type="text" asp-for="PublishedTime" class="form-control" placeholder="01 Jan, 2020"
                                               data-date-format="dd M, yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                                               data-date-autoclose="true">

                                        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                    </div>
                                    <hr />
                                    <a style="padding:15px;" asp-controller="Haber" asp-action="HaberSil" asp-route-id="@Model.Id" class="btn btn-link"><span style="color:red;">Haberi Sil</span></a>
                                </div>
                            </div><!-- /btn-group -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            @if (Model.Image != null)
                            {
                                <img id="img" style="width:100%" src="https://uploads.gazetekapi.com/images/@Model.Image" />
                            }
                            else
                            {
                                <img id="img" style="width:100%" src="https://uploads.gazetekapi.com/images/imgdefault.jpg" />
                            }
                            <label style="margin-top:10px;" class="col-sm-12 text-center">*(835x510 dosya boyutu)</label>
                            <label for="example-text-input" class="col-sm-12 col-form-label text-center" style="margin-top:10px;">Öne Çıkan Görseli Güncelle</label>
                            <input type="file" class="filestyle" id="upload" data-input="false" name="file" data-buttonname="btn-secondary">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsTitle" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Manşet Başlığı Göster</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsOpenNotifications" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Haber bildirimlerini etkinleştir</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="checkbox" asp-for="IsSlide" />
                                </div>
                                <div class="col-sm-11">
                                    <label class="col-sm-11">Haberi manşete taşı</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="listNews" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Haberler</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body scroller">

                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Haber</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody id="newList">
                        @foreach (var item in newsList.Where(x => x.ParentNewsId == 0).ToList())
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td><input type="checkbox" id="check_@item.Id" /></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" id="btn_bagla" onclick="UpdateParentProduct(@Model.Id,event);" class="btn btn-block btn-primary">Haberleri İlişkilendir</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="listNewsRelated" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">İlişkili Haberler</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body scroller">

                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Haber</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody id="newList">
                        @foreach (var item in newsList.Where(x => x.ParentNewsId == Model.Id).ToList())
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td><a href="@Url.Action("IliskiliHaberiKaldir","Haber", new { Id = item.Id })" class="btn btn-warning">İlişkili Haberi Kaldır</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script src="~/assets/css/ckeditor/ckeditor.js"></script>
<script src="https://uploads.gazetekapi.com/admin/wwwroot/assets/css/ckeditor/ckeditor.js"></script>
<script src="https://uploads.gazetekapi.com/admin/wwwroot/assets/libs/jquery/jquery.min.js"></script>
<script src="https://uploads.gazetekapi.com/admin/wwwroot/assets/libs/select2/js/select2.min.js"></script>
<script src="https://uploads.gazetekapi.com/admin/wwwroot/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#newsBtn").on("click", function () {
            window.setTimeout(function () {
                $("#newsBtn").attr("disabled", true);
            }, 100);
            document.getElementById("newsBtn").innerHTML = "Haber Yayınlanıyor...";
        })
    })
</script>

<script>
    $(function () {
        $('#upload').change(function () {
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                $('#img').attr('src', 'https://uploads.gazetekapi.com/images/user.png');
            }
        });

    });
</script>

<script>

    class MyUploadAdapter {
        constructor(loader) {
            this.loader = loader;
        }

        upload() {
            return this.loader.file
                .then(file => new Promise((resolve, reject) => {
                    this._initRequest();
                    this._initListeners(resolve, reject, file);
                    this._sendRequest(file);
                }));
        }

        abort() {
            if (this.xhr) {
                this.xhr.abort();
            }
        }

        _initRequest() {
            const xhr = this.xhr = new XMLHttpRequest();

            xhr.open('POST', '@Url.Action("UploadImages","Haber")', true);
            xhr.responseType = 'json';
        }

        // Initializes XMLHttpRequest listeners.
        _initListeners(resolve, reject, file) {
            const xhr = this.xhr;
            const loader = this.loader;
            const genericErrorText = `Couldn't upload file: ${file.name}.`;

            xhr.addEventListener('error', () => reject(genericErrorText));
            xhr.addEventListener('abort', () => reject());
            xhr.addEventListener('load', () => {
                const response = xhr.response;

                if (!response || response.error) {
                    return reject(response && response.error ? response.error.message : genericErrorText);
                }

                resolve({
                    default: response.url
                });
            });

            if (xhr.upload) {
                xhr.upload.addEventListener('progress', evt => {
                    if (evt.lengthComputable) {
                        loader.uploadTotal = evt.total;
                        loader.uploaded = evt.loaded;
                    }
                });
            }
        }

        _sendRequest(file) {
            const data = new FormData();

            data.append('upload', file);

            this.xhr.send(data);
        }
    }

    function MyCustomUploadAdapterPlugin(editor) {
        editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
            return new MyUploadAdapter(loader);
        };
    }

    ClassicEditor
        .create(document.querySelector('#editor'), {
            extraPlugins: [MyCustomUploadAdapterPlugin],
        }).then(editor => {
            window.editor = editor;
        })

        .catch(error => {
            console.error(error);
        });

</script>

<script>
    var UpdateParentProduct = function (id, e) {
        e.preventDefault();
        $("#btn_bagla").attr("disabled", true);
        var arrItem = [];
        var commaSeparatedIds = "";
        var haberId = id;
        $("#newList tr td input[type=checkbox]").each(function (index, val) {

            var checkId = $(val).attr("Id");
            var arr = checkId.split('_');
            var currentCheckboxId = arr[1];
            var Ischecked = $("#" + checkId).is(":checked", true);

            if (Ischecked) {
                arrItem.push(currentCheckboxId);
            }

        })

        if (arrItem.length != 0) {
            commaSeparatedIds = arrItem.toString();
            $.ajax({
                url: "/Haber/HaberIliskilendir",
                type: "POST",
                data: { haberlist: commaSeparatedIds, haberId },
                success: function (response) {
                    //toastr['success']('Haberleri bağlama işlemi başarıyla gerçekleşti!', 'Ürün Düzenleme');
                    window.location = "/Haber/HaberDuzenle/" + haberId;
                }
            });
        }
        else {
            //toastr['warning']('Lütfen bağlanacak ürün seçiniz!', 'Ürün Düzenleme');
            $("#btn_bagla").attr("disabled", false);
        }
    }
</script>