@model IEnumerable<GazeteKapiMVC5Core.Models.Category.CategoryListViewModel>
@using GazeteKapiMVC5Core.Models.News.NewsModel
@{
    ViewData["Title"] = "HaberYerlestirme";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<NewsLıstItemModel> news = ViewBag.NewsList as List<NewsLıstItemModel>;
    bool empty = false;
}

<style>

    #sortable tr td {
        -webkit-transition: transform 0.25s ease-in-out;
        -moz-transition: transform 0.25s ease-in-out;
        -o-transition: transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
        -webkit-transition: box-shadow 0.25s ease-in-out;
        -moz-transition: box-shadow 0.25s ease-in-out;
        -o-transition: box-shadow 0.25s ease-in-out;
        transition: box-shadow 0.25s ease-in-out;
    }

        #sortable tr td.ui-sortable-helper {
            -webkit-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
            -moz-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
            box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
            transform: scale(1.015);
            z-index: 100;
        }

        #sortable tr td.ui-sortable-placeholder {
            -moz-box-shadow: inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow: inset 0 0 10px #000000;
        }

    .connected-sortable {
        list-style: none;
    }

    .scroller {
        overflow-y: scroll;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
    }
</style>

<link href="https://uploads.gazetekapi.com/admin/wwwroot/assets/css/pageline.css" rel="stylesheet" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="card-title">Tüm Haberleri Sırala Ve Yerleştir</h4>
                        <p class="card-title-desc">Ana Sayfanızdaki haberlerinizi kategorilerize göre yerleştirin ve sıralayın</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    @foreach (var item in Model)
    {
        @if (empty != true)
        {
            <div class="col-sm-4">
                <div class="card scroller">
                    <div class="card-body">
                        <h4 class="card-title-desc mb-3">@item.CategoryName</h4>
                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-bs-pattern="priority-columns">
                                <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing:0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">Sıra</th>
                                            <th>Başlık</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sortable" class="connected-sortable draggable-all" style="cursor:pointer;">
                                 
                                        @foreach (var item2 in news.Where(x => x.CategoryId == item.Id).ToList())
                                        {
                                            if (news.Count == 0)
                                            {
                                                empty = true;
                                            }
                                            else
                                            {
                                                empty = false;
                                        
                                                <tr>
                                            <td><input type="hidden" id="categoryId_input" value="@item2.CategoryId" /></td>    
                                            <td style="text-align:center;">@Html.DisplayFor(model => item2.Id)</td>
                                            <td class="taskSingleInline" id="task@(item2.Id)" data-taskid="@(item2.CategoryId)">
                                                <a asp-action="HaberDuzenle" asp-controller="Haber" asp-route-id="@item2.Id">@Html.DisplayFor(modelItem => item2.Title)</a>
                                            </td>
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    }

</div>

<script>
    $(".draggable-all").sortable({
        connectWith: ".connected-sortable",
        stack: ".connected-sortable tbody",
        update: function (event, ui) {
            var itemsId = "";
            var categoriesId = "";
            $("#sortable").find(".taskSingleInline").each(function () {
                var itemId = $(this).attr("id");
                itemsId = itemId;

                var categoryId = $(this).attr("data-taskid");
                categoriesId = categoryId;
            });

            alert("Haber: " + itemsId, "Kategori: " + categoriesId);
             @*$.ajax({

                 url: '@Url.Action("KategoriyiDegistir","Haber")',
                 data: { itemsId: itemsId, categoriesId: categoriesId },
                    type: 'POST',
                    succcess: function (data) {
                        window.location.href = '@Url.Action("HaberYerlestirme","Haber")';
                    },
                    error: function (xhr, status, error) {
                        window.location.href = '@Url.Action("HaberYerlestirme", "Haber")';
                    }

                });*@
        }
    }).disableSelection();
</script>