@model IEnumerable<GazeteKapiMVC5Core.Models.News.NewsModel.NewsLıstItemModel>

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/pageline.css" rel="stylesheet" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <h4 class="card-title">Haberler</h4>
                        <p class="card-title-desc">Haberler ile tüm işlemlerinizi gerçekleştirin</p>
                    </div>
                </div>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-bs-pattern="priority-columns">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">#</th>
                                    <th>Başlık</th>
                                    <th>Yayın Tarihi</th>
                                    <th>Okunma</th>
                                    <th>Haber Tipi</th>
                                    <th>Oluşturan</th>
                                    <th>Etiketler</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr class="button-items" id="tooltip-container">
                                        <td style="text-align:center;">@Html.DisplayFor(model => item.Id)</td>

                                        @if (item.Title.Length > 40)
                                        {
                                            <td>
                                                <a data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="top" title="Haberi Düzenle"
                                                   asp-action="HaberDuzenle" asp-controller="Haber" asp-route-id="@item.Id">@item.MetaTitle.Substring(0, 40)<span>...</span></a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="top" title="Haberi Düzenle"
                                                   asp-action="HaberDuzenle" asp-controller="Haber" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.MetaTitle)</a>
                                            </td>
                                        }

                                        <td>@Html.DisplayFor(model => item.PublishedTime)</td>
                                        <td>@Html.DisplayFor(model => item.Views)</td>
                                        <td>@Html.DisplayFor(model => item.categories.CategoryName)</td>
                                        <td>@Html.DisplayFor(model => item.users.DisplayName)</td>
                                        <td>@Html.DisplayFor(model => item.Tag)</td>
                                        <td>
                                            @if (item.IsLock == true)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haber Erişimini Aç" class="btn btn-primary" asp-action="HaberiKilitle" asp-route-id="@item.Id">Kilidi Aç</a>
                                            }
                                            else
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haberi Kilitle" class="btn btn-danger" asp-action="HaberiKilitle" asp-route-id="@item.Id">Kilitle</a>
                                            }

                                            @if (item.IsActive == false)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top" class="btn btn-primary"
                                                   title="Haberi Aktifleştir" asp-action="HaberiAktifEt" asp-route-id="@item.Id">Aktifleştir</a>
                                            }
                                            else
                                            {
                                                <a style="padding:3px;" class="btn btn-danger" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haberi Pasifleştir" asp-action="HaberiAktifEt" asp-route-id="@item.Id">Pasifleştir</a>

                                            }

                                            @if (item.IsOpenNotifications == true)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Bildirimleri Kapat" asp-action="BildirimleriAc" asp-route-id="@item.Id" class="ml-1 btn btn-primary">Bildirim Aç</a>
                                            }
                                            else
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Bildirimleri Aç" asp-action="BildirimleriAc" asp-route-id="@item.Id" class="ml-1 btn btn-danger">Bildirim Kapat</a>
                                            }

                                            @if (item.doublePlace == false)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="İkiliye Yerleştir" asp-action="ikiliyeyerlestir" asp-route-id="@item.Id" class="ml-1 btn btn-primary">İkili</a>
                                            }

                                            else
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="İkiliden kaldır" asp-action="ikiliyeyerlestir" asp-route-id="@item.Id" class="ml-1 btn btn-danger">İkili Kaldır</a>
                                            }
                                            @if (item.fourthPlace == false)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Dörtlüye Yerleştir" asp-action="dortluyeyerlestir" asp-route-id="@item.Id" class="ml-1 btn btn-primary">Dörtlü</a>
                                            }

                                            else
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Dörtlüden kaldır" asp-action="dortluyeyerlestir" asp-route-id="@item.Id" class="ml-1 btn btn-danger">Dörtlü Kaldır</a>
                                            }
                                            @if (item.isArchive == false)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haberi Arşivle" asp-action="haberiarsivle" asp-route-id="@item.Id" class="ml-1 btn btn-primary">Arşivle</a>
                                            }

                                            else
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haberi Arşivden Çıkar" asp-action="haberiarsivle" asp-route-id="@item.Id" class="ml-1 btn btn-danger">Arşivden Çıkar</a>
                                            }

                                            <a style="padding:3px;" data-bs-container="#tooltip-container"
                                               data-bs-toggle="tooltip" data-bs-placement="top" class="btn btn-primary"
                                               title="Haberi Çoğalt" asp-action="HaberCogalt" asp-route-id="@item.Id">Çoğalt</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            order: [[0, 'desc']],
        });
    });
</script>
