@model PaginationList<GazeteKapiMVC5Core.Models.News.NewsModel.NewsLıstItemModel>
@using CORE.ApplicationCommon.Helpers;

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<style>
    .link-disabled {
        pointer-events: none;
        cursor: default;
    }

    .table th {
        font-weight: 600;
        font-family: Roboto,sans-serif;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="card-title">@TempData["Name"] kişisinin yazıları</h4>
                        <p class="card-title-desc">Yazarınızın yazılarında işlemlerinizi gerçekleştirin</p>
                    </div>
                    <div class="col-sm-8">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="float:right">
                                <li class="page-item">
                                    <a asp-action="Haberler" class="btn btn-link">Başa Dön</a>
                                </li>
                                <li class="page-item">
                                    <a asp-action="YazarinYazilari" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-link @prevDisabled">Önceki</a>
                                </li>
                                <li class="page-item">
                                    <a asp-action="YazarinYazilari" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-link @nextDisabled">Sonraki</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-bs-pattern="priority-columns">
                        <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">#</th>
                                    <th>Başlık</th>
                                    <th>Yayın Tarihi</th>
                                    <th>Haber Tipi</th>
                                    <th>Gösterim</th>
                                    <th>Oluşturan</th>
                                    <th>İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a class="btn btn-primary" asp-controller="Haber" asp-action="YazarinYazilari" style="top: 7px; margin: auto 0; display: block; position: relative;"><i class="mdi mdi-refresh"></i></a></td>
                                    <td>
                                        <form asp-controller="Haber" asp-action="YazarinYazilari" method="get">
                                            <div class="btn btn-group-sm" style="width: 100%;">
                                                <div class="btn-group" style="width: 91%;">
                                                    <input type="text" class="form-control" name="searchstring">
                                                </div>
                                                <div class="btn-group" style="position:relative; left:-38px; width: 7%;">
                                                    <button type="submit" class="btn btn-primary btn-sm" style="float:right;"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>

                                        </form>
                                    </td>
                                    <td></td>
                                    <td>
                                        <form asp-controller="Haber" asp-action="YazarinYazilari" method="get">
                                            @Html.DropDownList("CategoryId", (SelectList)ViewBag.Categories, ("Kategori Seçiniz"), new { @class = "has-arrow form-control", @style = "position:relative; top:8px;", onchange = "this.form.submit();", name = "CategoryId" })
                                        </form>
                                    </td>
                                    <td></td>
                                    <td>
                                        <form asp-controller="Haber" asp-action="YazarinYazilari" method="get">
                                            @Html.DropDownList("UserId", (SelectList)ViewBag.Users, ("Kullanıcı Seçiniz"), new { @class = "has-arrow form-control", @style = "position:relative; top:8px;", onchange = "this.form.submit();", name = "UserId" })
                                        </form>
                                    </td>
                                    <td>
                                        <a asp-controller="Haber" asp-action="HaberOlustur" style=" position: relative; top: 12px;" class="btn btn-primary btn-sm">Haber Oluştur <i class="fas fa-plus fa-sm"></i></a>
                                    </td>
                                </tr>
                                @foreach (var item in Model)
                                {

                                    <tr class="button-items" id="tooltip-container">
                                        <td style="text-align:center;">@Html.DisplayFor(model => item.Id)</td>

                                        <td>
                                            <a data-bs-container="#tooltip-container"
                                               data-bs-toggle="tooltip"
                                               data-bs-placement="top" title="Haberi Düzenle"
                                               asp-action="HaberDuzenle" asp-controller="Haber" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                                        </td>

                                        <td>@Html.DisplayFor(model => item.PublishedTime)</td>
                                        <td>@Html.DisplayFor(model => item.categories.CategoryName)</td>
                                        <td>@Html.DisplayFor(model => item.Views)</td>
                                        <td>@Html.DisplayFor(model => item.users.DisplayName)</td>
                                        <td>
                                            @if (item.IsLock == true)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haber Erişimini Aç" asp-action="HaberiKilitle" asp-route-id="@item.Id"><i class="mdi mdi-lock-open mdi-24px text-success"></i></a>
                                            }
                                            else
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haberi Kilitle" asp-action="HaberiKilitle" asp-route-id="@item.Id"><i class="mdi mdi-lock mdi-24px text-danger"></i></a>
                                            }

                                            @if (item.IsActive == false)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haberi Aktifleştir" asp-action="HaberiAktifEt" asp-route-id="@item.Id"><i class="mdi mdi-publish mdi-24px"></i></a>
                                            }
                                            else
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Haberi Pasifleştir" asp-action="HaberiAktifEt" asp-route-id="@item.Id"><i class="mdi mdi-earth-remove text-danger mdi-24px"></i></a>

                                            }

                                            @if (item.IsOpenNotifications == true)
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Bildirimleri Kapat" asp-action="BildirimleriAc" asp-route-id="@item.Id" class="ml-1"><i class="mdi mdi-wifi mdi-24px"></i></a>
                                            }
                                            else
                                            {
                                                <a style="padding:3px;" data-bs-container="#tooltip-container"
                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="Bildirimleri Aç" asp-action="BildirimleriAc" asp-route-id="@item.Id" class="ml-1"><i class="mdi mdi-wifi-off text-danger mdi-24px"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>