@using GazeteKapiMVC5Core.WEB.ViewModels.Categories;
@using GazeteKapiMVC5Core.WEB.ViewModels.Currencies;
@model GazeteKapiMVC5Core.WEB.ViewModels.Settings.SettingsBaseViewModelWeb;

@{
    List<CategoryListViewModelWeb> categories = ViewBag.CategoryList as List<CategoryListViewModelWeb>;
    List<CurrencyListViewModelWeb> currencies = ViewBag.CurrencyList as List<CurrencyListViewModelWeb>;
    List<doviz> dovizlist = ViewBag.dovizler as List<doviz>;
}

<link href="http://uploads.gazetekapı.com/front/wwwroot/css/base/pagelineweb.css" rel="stylesheet" />
<link href="~/hamburger.css" rel="stylesheet" />
<header class="bg-light">
    <!-- Navbar  Top-->
    <div class="topbar d-sm-block" style="background-color: #f4c625;">
        <div class="container boxed">
            <div class="row">
                <div class="col-sm-5 col-md-5" style="width:25%">
                    <div class="topbar-left">
                        <ul class="navbar-nav ">
                            <li class="nav-item search">
                                <a class="nav-link nav-link-search" href="#" style="float:left;">
                                    <i class="fa fa-search"></i>
                                </a>
                                <label id="switch" class="switch">
                                    <input type="checkbox" onchange="toggleTheme()" id="slider">
                                    <span class="slider round"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7" style="width:75%">
                    <div class="list-unstyled topbar-right">
                        <ul class="topbar-sosmed">

                            <li>
                                <a class="sm-link" target="_blank" href="https://twitter.com/home?lang=tr"><img style="height:25px;" src="https://uploads.gazetekapı.com/images/social-media/twitter.svg" /></a>
                            </li>
                            <li>
                                <a class="sm-link" target="_blank" href="https://www.facebook.com/"><img style="height:25px;" src="https://uploads.gazetekapı.com/images/social-media/facebook.svg" /></a>
                            </li>
                            <li>
                                <a class="sm-link" target="_blank" href="https://www.youtube.com/"><img style="height:25px;" src="https://uploads.gazetekapı.com/images/social-media/youtube.svg" /></a>
                            </li>
                            <li>
                                <a class="sm-link" target="_blank" href="https://www.instagram.com/"><img style="height:25px;" src="https://uploads.gazetekapı.com/images/social-media/instagram.svg" /></a>
                            </li>
                            @*<li>
                                <a class="sm-link" target="_blank" href="https://web.telegram.org/"><img style="height:25px;" src="https://uploads.gazetekapı.com/images/social-media/telegram.svg" /></a>
                            </li>*@
                            <li>
                                <a class="sm-link" target="_blank" href="https://www.google.com.tr/"><img style="height:25px;" src="https://uploads.gazetekapı.com/images/social-media/mail.svg" /></a>
                            </li>
                            <li style="padding:0px; margin-left:4px;">
                                <a class="sm-link" target="_blank" href="@Url.Action("Rss","anasayfa")"><img style="height:25px;" src="https://uploads.gazetekapı.com/images/social-media/rss.svg" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Top  -->
    <!-- Navbar  -->
    <!-- Navbar menu  -->
    <div class="navigation-wrap navigation-shadow bg-white">
        <nav class="navbar navbar-hover navbar-expand-lg navbar-soft">
            <div class="container boxed">
                <figure class="mb-0">
                    <a asp-action="sayfa" asp-controller="anasayfa">
                        <img src="https://uploads.gazetekapı.com/images/@Model.Logo" alt="" id="img-shrink" class="logo logo-img logo-light">
                        <img src="https://uploads.gazetekapı.com/images/@Model.FooterLogo" style="display:none;" alt="" id="img-shrink" class="logo logo-img logo-dark">

                    </a>
                </figure>
                <div class="offcanvas-header">
                    <div data-toggle="modal" data-target="#modal_aside_right" class="btn-md">
                        <span id="hamburgerMenu" style="display:none;" class="navbar-toggler-icon"></span>
                        <span id="hamburgerLight" class="navbar-toggler-icon"></span>
                    </div>
                </div>
                <div class="justify-content-between" id="main_nav99">
                    <div class="row currency-m">
                        <div class="col-sm-12" style="padding-right: 10px;">
                            <ul class="navbar-nav ml-auto" style="float:right;">

                                @if (ViewData["dovizler"] == null || dovizlist == null)
                                {
                                    <li class="nav-item" style="font-size: 16px; color: #54626b">
                                        <span>@ViewData["dovizler"]</span>
                                    </li>
                                }

                                else
                                {
                                @foreach (var d in dovizlist)
                                {

                                    if (d.CurrencyCode != "XDR")
                                    {
                                        if (d.CurrencyCode.Contains("USD") || d.CurrencyCode.Contains("EUR") || d.CurrencyCode.Contains("GBP") || d.CurrencyCode.Contains("RUB"))
                                        {
                                            foreach (var item in currencies)
                                            {
                                                if (item.code == d.Kod)
                                                {
                                                    if (item.isRateOrDown == "down")
                                                    {
                                                        <li class="nav-item" id="down-currency" style="font-size: 14px; margin-left:10px; color: #54626b">
                                                            <span style="font-weight:500;"><img src="https://uploads.gazetekapı.com/images/social-media/chevron-down.svg" width="15" height="15" /> @d.CurrencyCode</span> @d.ForexBuying
                                                        </li>
                                                    }
                                                    else if (item.isRateOrDown == "increase")
                                                    {
                                                        <li class="nav-item" id="inc-currency" style="font-size: 14px; margin-left: 10px; color: #54626b">
                                                            <span style="font-weight:500;"><img src="https://uploads.gazetekapı.com/images/social-media/chevron-up.svg" width="15" height="15" /> @d.CurrencyCode</span> @d.ForexBuying
                                                        </li>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row" id="nav-menu-display" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <ul class="navbar-nav ml-auto">

                                @foreach (var item in categories.Where(x => x.Position == 0 && x.IsActive == true))
                                {
                                    <li class="nav-item">
                                        <a asp-action="kategori" asp-controller="anasayfa" asp-route-id="@item.Id" class="menu-link"> @item.CategoryName.ToUpper() </a> <div class="menu-rect"></div>
                                    </li>
                                }
                            <li>
                                <label id="menu-hamburger-label">
                                    <input type="checkbox">
                                    <span class="menu">
                                        <span id="hamburgerMenu" class="hamburger menu-link" wfd-invisible="true"></span>
                                    </span>
                                </label>
                                    @*<span id="hamburgerLight" style="position: relative; right: -7px; top: -2px;" class="menu-link navbar-toggler-icon"></span>*@
                            </li>
                                @*<li class="nav-item">
                                    <a asp-action="yazarlar" asp-controller="anasayfa" class="menu-link"> YAZARLAR </a> <div class="menu-rect"></div>
                                </li>*@
                            </ul>
                        </div>

                    </div>

                    <div class="top-search navigation-shadow">
                        <div class="container">
                            <div class="input-group ">
                                <form asp-action="aramasonucu" asp-controller="anasayfa">
                                    <div class="row no-gutters mt-3">
                                        <div class="col">
                                            <input class="form-control border-secondary border-right-0 rounded-0"
                                                   type="search" value="" name="searchnews" placeholder="Arama yapın... " id="example-search-input4">
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- navbar-collapse.// -->


            </div>
        </nav>
    </div>
    <!-- End Navbar menu  -->
    <!-- Navbar sidebar menu  -->
    <div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-aside" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <form asp-action="aramasonucu" asp-controller="anasayfa">
                        <div class="widget__form-search-bar  ">

                            <div class="row no-gutters">
                                <div class="col">
                                    <input name="searchnews" class="form-control border-secondary border-right-0 rounded-0" value="" placeholder="Arama Yapın...">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <nav class="list-group list-group-flush">
                        <ul class="navbar-nav ">
                            @foreach (var item in categories.Where(x => x.Position == 0 && x.IsActive == true))
                            {
                                <li class="nav-item">
                                    <a asp-action="kategori" asp-controller="anasayfa" asp-route-id="@item.Id" class="nav-link text-dark"> @item.CategoryName.ToUpper() </a>
                                </li>
                                <div class="seperate-menu"></div>
                            }
                            <li class="nav-item">
                                <a asp-action="yazarlar" asp-controller="anasayfa" class="nav-link text-dark"> YAZARLAR </a>
                            </li>
                            <div class="seperate-menu"></div>
                            <li class="nav-item">
                                <a asp-action="yazarlar" asp-controller="anasayfa" class="nav-link text-dark"> KÜNYE </a>
                            </li>
                            <div class="seperate-menu"></div>
                            <li class="nav-item">
                                <a asp-action="yazarlar" asp-controller="anasayfa" class="nav-link text-dark"> GİZLİLİK İLKELERİ </a>
                            </li>
                            <div class="seperate-menu"></div>
                            <li class="nav-item">
                                <a asp-action="yazarlar" asp-controller="anasayfa" class="nav-link text-dark"> KULLANIM ŞARTLARI </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="modal-footer">
                    <p>
                        © 2022 <a href="http://retenvi.com" title="Gazetekapı">GAZETEKAPI</a>
                        -
                        Tüm Hakları Saklıdır &amp;
                        <a href="http://retenvi.com" title="retenvi">İkifikir</a> tarafından geliştirildi
                    </p>
                </div>
            </div>
        </div> <!-- modal-bialog .// -->
    </div> <!-- modal.// -->
    <!-- End Navbar sidebar menu  -->
    <!-- End Navbar  -->
</header>
<section style="padding:0px 0 15px 0; max-width:1367px; margin:0 auto;">
    <div class="banner-cs" id="bnr" style="max-width:1367px;">
        <div class="row" style="width:100%; margin:0;">
            <div class="col-sm-6">
                <img class="banner-cs-img" style="float:left;" src="https://uploads.gazetekapı.com/images/banner-anasayfa.jpg" />
            </div>
            <div class="col-sm-6">
                <img class="banner-cs-img" style="float:right;" src="https://uploads.gazetekapı.com/images/banner-anasayfa.jpg" />
            </div>
        </div>
    </div>
    <div class="container" style="max-width:1030px; padding-top:20px;">
        <div class="row row-banners">
            <div class="col-3 col-sm-3 banner-3">
                <a href="@Url.Action("aboneol","anasayfa")">
                    <img style="width:100%" src="https://uploads.gazetekapı.com/images/ust-menu-lemonde-son.svg" />
                </a>
            </div>
            <div class="col-9 col-sm-9 banner-9">
                @foreach (var item in categories.Where(x => x.Position == 1))
                {
                    <a asp-controller="anasayfa" asp-action="kategori" asp-route-id="@item.Id">
                        <img class="img-subcat" src="https://uploads.gazetekapı.com/images/@item.Image" />
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="container" style="max-width:1030px; padding-top:15px;">
        <div class="row">
            <div class="col-sm-12">
                <img style="width:100%" src="https://uploads.gazetekapı.com/images/masterhead.jpg" />
            </div>
        </div>
    </div>
</section>