@using GazeteKapiMVC5Core.WEB.ViewModels.Categories;
@using GazeteKapiMVC5Core.WEB.ViewModels.Currencies;
@using GazeteKapiMVC5Core.WEB.ViewModels.MagazineBanner;
@using GazeteKapiMVC5Core.WEB.ViewModels.Banner;
@model GazeteKapiMVC5Core.WEB.ViewModels.Settings.SettingsBaseViewModelWeb;

@{
    List<CategoryListViewModelWeb> categories = ViewBag.CategoryList as List<CategoryListViewModelWeb>;
    List<CurrencyListViewModelWeb> currencies = ViewBag.CurrencyList as List<CurrencyListViewModelWeb>;
    List<MagazineBannerListViewModelWeb> banner = ViewBag.Magazine as List<MagazineBannerListViewModelWeb>;
    List<doviz> dovizlist = ViewBag.dovizler as List<doviz>;
}

@{
    BannerEditViewModelWeb bannerSol = ViewBag.BannerSol as BannerEditViewModelWeb;
    BannerEditViewModelWeb bannerSag = ViewBag.BannerSag as BannerEditViewModelWeb;
    BannerEditViewModelWeb bannerUst = ViewBag.BannerUst as BannerEditViewModelWeb;
}

<link href="~/assets/css/pagelineweb.css" rel="stylesheet" />
@*<link href="~/assets/css/hamburger.css" rel="stylesheet" />*@
<link href="~/assets/css/bannerImage.css" rel="stylesheet" />
<link href="~/assets/css/header.css" rel="stylesheet" />

<header class="bg-light">
    <!-- Navbar  Top-->
    <div class="topbar d-sm-block" style="background-color: #f4c625;">
        <div class="container boxed">
            <div class="row">
                <div class="col-sm-5 col-md-5" style="width:25%">
                    <div class="topbar-left">
                        <ul class="navbar-nav ">
                            <li class="nav-item search">
                                <a class="nav-link nav-link-search search-icon-pos" href="#" style="float: left; position: relative; top: 6px;">
                                    <i class="fa fa-search"></i>
                                </a>
                                <label id="switch" class="switch">
                                    <input type="checkbox" onchange="toggleTheme()" id="slider">
                                    <span class="slider round"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7" style="width:75%">
                    <div class="list-unstyled topbar-right">
                        <ul class="topbar-sosmed">

                            <li>
                                <a class="sm-link" rel="nofollow" target="_blank" href="https://twitter.com/gztkapi"><img style="height:25px;" title="twitter" alt="twitter" src="~/assets/images/social-media/twitter.svg" /></a>
                            </li>
                            <li>
                                <a class="sm-link" rel="nofollow" target="_blank" href="https://www.facebook.com/"><img style="height:25px;" title="facebook" alt="facebook" src="~/assets/images/social-media/facebook.svg" /></a>
                            </li>
                            <li>
                                <a class="sm-link" rel="nofollow" target="_blank" href="https://www.youtube.com/"><img style="height:25px;" title="youtube" alt="youtube" src="~/assets/images/social-media/youtube.svg" /></a>
                            </li>
                            <li>
                                <a class="sm-link" rel="nofollow" target="_blank" href="https://www.instagram.com/gzt4kapi/"><img style="height:25px;" title="instagram" alt="instagram" src="~/assets/images/social-media/instagram.svg" /></a>
                            </li>
                            @*<li>
                                    <a class="sm-link" target="_blank" href="https://web.telegram.org/"><img style="height:25px;" src="https://uploads.gazetekapi.com/images/social-media/telegram.svg" /></a>
                                </li>*@
                            <li>
                                <a class="sm-link" rel="nofollow" target="_blank" href="https://www.google.com.tr/"><img style="height:25px;" title="gmail" alt="gmail" src="~/assets/images/social-media/mail.svg" /></a>
                            </li>
                            <li>
                                <a class="sm-link" target="_blank" href="@Url.Action("Rss", "anasayfa")"><img style="height:25px;" title="rss" alt="rss" src="~/assets/images/social-media/rss.svg" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Top  -->
    <!-- Navbar  -->
    <!-- Navbar menu  -->
    <div class="navigation-wrap navigation-shadow bg-white">
        <nav class="navbar navbar-hover navbar-expand-lg navbar-soft">
            <div class="container boxed">
                <figure class="mb-0">
                    <a asp-action="sayfa" asp-controller="anasayfa">
                        <img src="~/assets/images/placeholder/kapi-logo.png" alt="gkapi_logo" title="gkapi_logo" id="img-shrink" class="logo logo-img logo-light" />
                        <img src="~/assets/images/logo-footer-son223354760.webp" style="display:none;" title="gkapi_footer" alt="gkapi_footer" id="img-shrink" class="logo logo-img logo-dark" />
                    </a>
                </figure>
                <div class="offcanvas-header">
                    <div data-toggle="modal" data-target="#modal_aside_right" class="btn-md">
                        <span id="hamburgerMenu" style="display:none;" class="navbar-toggler-icon"></span>
                        <span id="hamburgerLight" class="navbar-toggler-icon"></span>
                    </div>
                </div>
                <div class="justify-content-between" id="main_nav99">
                    <div class="row currency-m">
                        <div class="col-sm-12" style="padding-right: 10px;">
                            <ul class="navbar-nav ml-auto" style="float:right;">

                                @if (ViewData["dovizler"] == null || dovizlist == null)
                                {
                                    <li class="nav-item" style="font-size: 16px; color: #54626b">
                                        <span>@ViewData["dovizler"]</span>
                                    </li>
                                }

                                else
                                {
                                    @foreach (var d in dovizlist)
                                    {

                                        if (d.CurrencyCode != "XDR")
                                        {
                                            if (d.CurrencyCode.Contains("USD") || d.CurrencyCode.Contains("EUR") || d.CurrencyCode.Contains("GBP") || d.CurrencyCode.Contains("RUB"))
                                            {
                                                foreach (var item in currencies)
                                                {
                                                    if (item.code == d.Kod)
                                                    {
                                                        if (item.isRateOrDown == "down")
                                                        {
                                                            <li class="nav-item" id="down-currency" style="font-size: 14px; margin-left:10px; color: #54626b">
                                                                <span style="font-weight:500;"><img src="~/assets/images/social-media/chevron-down.svg" title="chevron-down" alt="chevron-down" width="15" height="15" /> @d.CurrencyCode</span> @d.ForexBuying
                                                            </li>
                                                        }
                                                        else if (item.isRateOrDown == "increase")
                                                        {
                                                            <li class="nav-item" id="inc-currency" style="font-size: 14px; margin-left: 10px; color: #54626b">
                                                                <span style="font-weight:500;"><img src="~/assets/images/social-media/chevron-up.svg" alt="chevron-up" title="chevron-up" width="15" height="15" /> @d.CurrencyCode</span> @d.ForexBuying
                                                            </li>
                                                        }

                                                        else
                                                        {
                                                            <li class="nav-item" style="font-size: 14px; margin-left: 10px; color: #54626b">
                                                                <span style="font-weight:500;">@d.CurrencyCode</span> <span style="font-weight:800;">@d.ForexBuying</span>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row" id="nav-menu-display" style="padding-top:10px;">
                        <div class="col-sm-12">
                            <ul class="navbar-nav ml-auto">

                                @foreach (var item in categories.Where(x => x.isMenu == true))
                                {
                                    <li class="nav-item">
                                        <a asp-action="kategori" style="font-size:16px;" asp-controller="anasayfa" asp-route-id="@item.Id" class="menu-link"> @item.CategoryName.ToUpper() </a> <div class="menu-rect"></div>
                                    </li>
                                }

                                @*<li class="nav-item dropdown has-megamenu" style="margin-left:13px; margin-right:0px; margin-top:3px; cursor:pointer;">
                                        <a class="menu-link dropdown-toggle" data-toggle="dropdown">
                                            <img alt="hamburger_icon" title="hamburger-menu" class="hamburger-light" src="~/assets/images/hamburgerMenu.png" />
                                            <img alt="hamburger_icon_dark" class="hamburger-dark" title="hamburger-menu-dark" src="~/assets/images/hamburgerMenuWhite.png" />
                                        </a>
                                        <div class="dropdown-menu animate fade-down megamenu mx-auto" role="menu">
                                            <div class="container wrap__mobile-megamenu">
                                                <div class="col-megamenu">
                                                    @{ await Html.RenderPartialAsync("HamburgerMenuContent");}

                                                </div>
                                            </div>
                                        </div>
                                    </li>*@
                            </ul>
                        </div>

                    </div>

                    <div class="top-search navigation-shadow">
                        <div class="container">
                            <div class="input-group ">
                                <form asp-action="aramasonucu" asp-controller="anasayfa">
                                    <div class="row no-gutters mt-3">
                                        <div class="col">
                                            <input class="form-control border-secondary border-right-0 rounded-0"
                                                   type="search" value="" name="searchnews" placeholder="Arama yapın... " id="example-search-input4">
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- navbar-collapse.// -->


            </div>
        </nav>
    </div>
    <!-- End Navbar menu  -->
    <!-- Navbar sidebar menu  -->
    <div id="modal_aside_right" class="modal fixed-left fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-aside" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <form asp-action="aramasonucu" asp-controller="anasayfa">
                        <div class="widget__form-search-bar  ">

                            <div class="row no-gutters">
                                <div class="col">
                                    <input name="searchnews" class="form-control border-secondary border-right-0 rounded-0" value="" placeholder="Arama Yapın...">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <nav class="list-group list-group-flush">
                        <ul class="navbar-nav ">
                            @foreach (var item in categories.Where(x => x.Position == 0 && x.IsActive == true))
                            {
                                <li class="nav-item">
                                    <a asp-action="kategori" asp-controller="anasayfa" asp-route-id="@item.Id" class="nav-link text-dark"> @item.CategoryName.ToUpper() </a>
                                </li>
                                <div class="seperate-menu"></div>
                            }
                            <li class="nav-item">
                                <a asp-action="yazarlar" asp-controller="anasayfa" class="nav-link text-dark"> YAZARLAR </a>
                            </li>
                            <div class="seperate-menu"></div>
                            <li class="nav-item">
                                <a asp-action="yazarlar" asp-controller="anasayfa" class="nav-link text-dark"> KÜNYE </a>
                            </li>
                            <div class="seperate-menu"></div>
                            <li class="nav-item">
                                <a asp-action="yazarlar" asp-controller="anasayfa" class="nav-link text-dark"> GİZLİLİK İLKELERİ </a>
                            </li>
                            <div class="seperate-menu"></div>
                            <li class="nav-item">
                                <a asp-action="yazarlar" asp-controller="anasayfa" class="nav-link text-dark"> KULLANIM ŞARTLARI </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="modal-footer">
                    <p>
                        © 2022 <a href="https://www.gazetekapi.com" title="Gazetekapı">GAZETEKAPI</a>
                        -
                        Tüm Hakları Saklıdır &amp;
                        <a href="https://ikifikir.net" target="_blank" rel="dofollow">İkifikir</a> tarafından geliştirildi
                    </p>
                </div>
            </div>
        </div> <!-- modal-bialog .// -->
    </div> <!-- modal.// -->
    <!-- End Navbar sidebar menu  -->
    <!-- End Navbar  -->
</header>
<section style="padding:0px 0 15px 0; max-width:1367px; margin:0 auto;">
    <div class="banner-cs" id="bnr" style="max-width:1367px;">
        <div class="row" style="width:100%; margin:0;">
            <div class="col-sm-6">
                @if (bannerSol.IsActive == true)
                {
                    @if (bannerSol.BannerFrame != null)
                    {
                        @Html.Raw(bannerSol.BannerFrame)
                    }
                    else
                    {
                        <a href="@bannerSol.Link">
                            <img class="banner-cs-img" style="float:left;" title="@bannerSol.BannerName" alt="@bannerSol.BannerName" loading="lazy" src="https://uploads.gazetekapi.com/images/@bannerSol.BannerImage" />
                        </a>
                    }
                }
            </div>
            <div class="col-sm-6">
                @if (bannerSag.IsActive == true)
                {
                    @if (bannerSag.BannerFrame != null)
                    {
                        @Html.Raw(bannerSag.BannerFrame)
                    }

                    else
                    {
                        <a href="@bannerSag.Link">
                            <img class="banner-cs-img" style="float:right;" title="@bannerSag.BannerName" alt="@bannerSag.BannerName" loading="lazy" src="https://uploads.gazetekapi.com/images/@bannerSag.BannerImage" />
                        </a>
                    }
                }

            </div>
        </div>
    </div>
    <div class="container" style="max-width:1030px; padding-top:20px;">
        <div class="row row-banners">

            <div class="col-8 col-sm-8" style="padding-right: 0; padding-left: 0;">
                @foreach (var item in banner)
                {
                    <a href="@item.Link" class="image-container image-banner-pd" style="text-decoration:none; cursor:pointer;">
                        <img alt="banner-dergi" class="magazine image-banner-magazine" title="banner-dergi" loading="lazy" src="https://uploads.gazetekapi.com/images/@item.BannerImage" />
                        <div class="image-parent-container" style="width: 60%; padding-left: 40px; padding-top: 15px; ">
                            <h5 class="magazine-title" style="font-weight:bold; color:#fff;">Le Monde diplomatique Türkçe</h5>
                            <h5 class="magazine-desc" style="color:#fff; font-weight:300;">Dijital Abonelik gerçekleştirerek düzenli okumak için burayı <span style="text-decoration:underline; color:#fff;">tıklayın..</span></h5>
                        </div>
                    </a>

                }

                <div class="clip-magazine"></div>
            </div>
            <div class="col-4 col-sm-4" style="padding-right: 0;">
                <div class="wrap-magazine">
                    <a href="@Url.Action("aboneol","anasayfa")" style="cursor:pointer;">
                        <img class="image-magazine-leMonde" src="~/assets/images/lemonde-son-footer.png" style="padding: 53px 35px;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="banner-header" style="max-width:1030px;">
        <div class="row">
            <div class="col-sm-12">
                @if (bannerUst.IsActive == true)
                {
                    @if (bannerUst.BannerFrame != null)
                    {
                        @Html.Raw(bannerUst.BannerFrame)
                    }
                    else
                    {
                        <a href="@bannerUst.Link">
                            <img style="width:100%" title="@bannerUst.BannerName" alt="@bannerUst.BannerName" loading="lazy" src="https://uploads.gazetekapi.com/images/@bannerUst.BannerImage" />
                        </a>
                    }
                }


            </div>
        </div>
    </div>
</section>