@using GazeteKapiMVC5Core.WEB.Models.MetaConfig

@{
    MetaViewModel meta = ViewBag.Meta as MetaViewModel;
}

<!DOCTYPE html>
<html lang="">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="tr" />
    <meta http-equiv="refresh" content="180, url='@Url.Action("sayfa","anasayfa")'" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <link rel="canonical" href="https://gazetekapi.com" />
    <meta name="rating" content="general" />
    <meta name="abstract" content="security" />
    <meta name="googlebot" content="Index, Follow" />
    <meta name="robots" content="Index, Follow" />
    <meta name="distribution" content="global" />
    <meta name="application-name" content="gazetekapi" />
    <meta name="theme-color" content="#030303" />
    <meta name="author" content="Gazetekapı" />
    <meta name="google-site-verification" content="PEFfAU7AcnEUeP0fmuas2H4GcsRXcZxf5apJq_huNow" />
    <meta name="twitter:card" content="summary_larg_image" />
    <meta name="twitter:title" content="@meta.Title" />
    <meta name="twitter:site" content="@meta.Url" />
    <meta name="twitter:description" content="@meta.Description" />
    <meta name="twitter:image" content="@meta.Image" />
    <meta name="description" content="@meta.Description" />
    <meta name="keywords" content="@meta.Keywords" />

    <meta property="article:publisher" content="https://www.twitter.com/gazetekapi" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:site_name" content="Gazete Kapı" />
    <meta property="og:title" content="@meta.Title" />
    <meta property="og:description" content="@meta.ogDescription" />
    <meta property="og:image" content="@meta.ogImage" />
    <meta property="og:url" content="@meta.Url" />

    <link rel="icon" type="image/x-icon" href="~/assets/kapi-logo.ico" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="canonical" href="https://www.gazetekapi.com" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap"
          rel="stylesheet" />
    @*<link href="./css/styles.css?537a1bbd0e5129401d28" rel="stylesheet">*@
    <link href="~/assets/css/styles.css" rel="stylesheet" />
    <link href="~/assets/css/base/layoutbase.css" rel="stylesheet" />
    <link href="~/assets/css/modeservicestyle.css" rel="stylesheet" />
    <link href="~/assets/css/mobile-resp.css" rel="stylesheet" />
    <link href="~/assets/css/base/home.css" rel="stylesheet" />
    <link rel="manifest" href="~/assets/manifest.json" crossorigin="use-credentials" />

    <title>@meta.Title</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LCQHBQ4BXX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LCQHBQ4BXX');
    </script>

</head>

<body>

    @await Component.InvokeAsync("HeaderWeb")

    @RenderBody()

    @await Component.InvokeAsync("FooterWeb")

    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

    <script type="text/javascript" src="~/assets/js/index.bundle.js?537a1bbd0e5129401d28"></script>
    @*<script src="~/assets/js/index.bundle.js"></script>*@
    <script src="~/assets/js/InfinitiySroll.js"></script>
    <script src="~/assets/js/modeservice.js"></script>
    <script src="~/assets/js/home.js"></script>

    @*<script>  

        function notifyMe() {

            if (!Notification) {
                alert('Lütfen Chrome, Firefox, Opera, Internet Explorer veya Spartan\'ın güncel bir versiyonunu kullanınız...');
                return;
            }

            if (Notification.permission === "granted")
                Notification.requestPermission();

            else {

            }

            var myArray = '@Html.Raw(ViewData["data"])';

            if (myArray != '') {
                $.each(JSON.parse(myArray), function (i, val) {
                    if (val.IsOpenNotifications == true) {
                        var notification = new Notification(val.Title, {
                            icon: 'https://uploads.gazetekapi.com/images/' + val.Image,
                            body: "Haberi okumak için tıklayın!",
                        });

                        notification.onclick = function () {
                            window.open("https://www.gazetekapi.com/haber/" + val.CategoryId + "/" + val.Title);
                        }

                        setTimeout(notification.close, 10000);

                    }
                });
            }

        }

        window.onload = notifyMe;

    </script>*@

    @RenderSection("scripts", false)

</body>

</html>