@using GazeteKapiMVC5Core.WEB.Models.MetaConfig
@using GazeteKapiMVC5Core.WEB.ViewModels.News

@{
    MetaViewModel meta = ViewBag.Meta as MetaViewModel;
    List<NewListViewModelWeb> newsList = ViewBag.HaberlerManset as List<NewListViewModelWeb>;
}

<!DOCTYPE html>
<html lang="">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="tr" />
    <meta http-equiv="refresh" content="180, url='@Url.Action("sayfa","anasayfa")'" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <link rel="canonical" href="https://amp.dev/documentation/guides-and-tutorials/start/create/basic_markup/" />
    <meta name="rating" content="general" />
    <meta name="abstract" content="security" />
    <meta name="googlebot" content="Index, Follow" />
    <meta name="robots" content="Index, Follow" />
    <meta name="distribution" content="global" />
    <meta name="application-name" content="gazetekapi" />
    <meta name="theme-color" content="#030303" />
    <meta name="author" content="Gazetekapı" />
    <meta name="google-site-verification" content="PEFfAU7AcnEUeP0fmuas2H4GcsRXcZxf5apJq_huNow" />
    <meta name="twitter:card" content="summary_larg_image" />
    <meta name="twitter:title" content="@meta.Title" />
    <meta name="twitter:site" content="@meta.Url" />
    <meta name="twitter:description" content="@meta.Description" />
    <meta name="twitter:image" content="@meta.Image" />
    <meta name="description" content="@meta.Description" />
    <meta name="keywords" content="@meta.Keywords" />

    <meta property="article:publisher" content="https://www.twitter.com/gazetekapi" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:site_name" content="Gazete Kapı" />
    <meta property="og:title" content="@meta.Title" />
    <meta property="og:description" content="@meta.ogDescription" />
    <meta property="og:image" content="@meta.ogImage" />
    <meta property="og:url" content="@meta.Url" />

    <link rel="icon" type="image/x-icon" href="~/assets/kapi-logo.ico" />
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="canonical" href="https://www.gazetekapi.com" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap"
          rel="stylesheet" />
    @*<link href="./css/styles.css?537a1bbd0e5129401d28" rel="stylesheet">*@
    <link href="~/assets/css/styles.css" rel="stylesheet" />
    <link href="~/assets/css/base/layoutbase.css" rel="stylesheet" />
    <link href="~/assets/css/modeservicestyle.css" rel="stylesheet" />
    <link href="~/assets/css/mobile-resp.css" rel="stylesheet" />
    <link rel="manifest" href="~/assets/manifest.json" crossorigin="use-credentials" />

    <title>@meta.Title</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LCQHBQ4BXX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LCQHBQ4BXX');
    </script>

    <style>
        .img-category {
            min-height: 186px;
        }

        .boxed {
            max-width: 1030px;
        }

        #footer-col-1 {
            width: 153px;
        }

        #img-shrink.sticky {
            height: 100px;
            padding: 15px 0px;
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            -ms-transition: height 0.2s;
            -o-transition: height 0.2s;
        }

        .img-subcat {
            width: 100%;
            height: auto;
        }

        .img-slide {
            width: 100%;
            height: 411px;
        }

        .text-cat {
            background-color: #515d5e;
            padding: 15px;
        }

            .text-cat a {
                color: #ffffff;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                font-family: Montserrat;
                text-align: start;
                text-decoration: none;
            }

        .slide-width {
            max-width: 66.35667%;
            margin-right: 2px;
        }

        .seperate-menu {
            height: 1px;
            background-color: #343a40;
            width: 92%;
            margin: 5px 0px;
        }

        .banner-cs {
            position: fixed;
            vertical-align: top;
            display: flex;
            width: 100%;
            padding-top: 21px;
            z-index: 0;
        }

        #bnr.increase {
            position: fixed;
            vertical-align: top;
            display: flex;
            width: 100%;
            padding-top: 65px;
            z-index: 0;
        }

        .banner-cs-img {
            height: 435px;
            border: 1px solid #515d5e;
        }
    </style>

</head>

<body>

    @await Component.InvokeAsync("HeaderWeb")

    @RenderBody()

    @await Component.InvokeAsync("FooterWeb")

    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>

    <script type="text/javascript" src="~/assets/js/index.bundle.js?537a1bbd0e5129401d28"></script>
    <script src="~/assets/js/index.bundle.js"></script>
    <script src="~/assets/js/InfinitiySroll.js"></script>
    <script src="~/assets/js/modeservice.js"></script>

    <script>

        window.onscroll = function () { onScroll() };
        function onScroll() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementById("img-shrink").classList.add("sticky");
                document.getElementById("bnr").classList.add("increase");
                document.getElementById("main_nav99").classList.add("removeCurrency");
            } else {
                document.getElementById("img-shrink").classList.remove("sticky");
                document.getElementById("bnr").classList.remove("increase");
                document.getElementById("main_nav99").classList.remove("removeCurrency");

            }
        }

        function notifyMe() {

            if (!Notification) {
                alert('Lütfen Chrome, Firefox, Opera, Internet Explorer veya Spartan\'ın güncel bir versiyonunu kullanınız...');
                return;
            }

            if (Notification.permission === "granted")
                Notification.requestPermission();

            else {

            }

            var myArray = '@Html.Raw(ViewData["data"])';
            $.each(JSON.parse(myArray), function (i, val)
            {
                if (val.IsOpenNotifications == true) {
                    var notification = new Notification(val.Title, {
                        icon: 'https://uploadslemonde.ikifikir.net/images/' + val.Image,
                        body: "Haberi okumak için tıklayın!",
                    });

                    notification.onclick = function () {
                        window.open("https://www.gazetekapi.com/haber/" + val.CategoryId + "/" + val.Title);
                    }

                    setTimeout(notification.close, 10000);

                }
            });

        }

        window.onload = notifyMe;

        $("#hamburger-button").on("click", function () {
            $('#menu-hamburger-label ul').css('display', 'block');
            $('#menu-hamburger-label ul').css('z-index', '200');
        });

    </script>

    @RenderSection("scripts", false)

</body>

</html>