@model GazeteKapiMVC5Core.Models.Log.LogModel.LogBaseViewModel

@{
    ViewData["Title"] = "LogDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-7" style="display:block; margin:0 auto;">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-12 text-center">
                        <img src="~/Files/cloud coding_1x.png" width="120" height="120"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-center">@Model.processes.ProcessesName</h3>
                        <p class="text-center" style="font-size:20px; margin-bottom:0px;">@Model.Details</p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <p class="text-muted mb-1 text-center" style="float: left; font-size: 16px;">
                           <i class="fas fa-clock"></i> @Model.Hour
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p class="text-muted mb-1 text-center" style="font-size:16px;">
                        <i class="fas fa-cogs"></i> @Model.transaction.TransactionNames
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p class="text-success text-center" style="float: right; font-size: 16px;"><i class="fas fa-user"></i> @Model.userlogs.UserNameLog</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>