@model PaginationList<GazeteKapiMVC5Core.Models.Log.LogModel.LogListViewModel>
@using GazeteKapiMVC5Core.Core.Extensions; 
@{
    ViewData["Title"] = "Loglar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<style>
    .link-disabled {
        pointer-events: none;
        cursor: default;
    }

    .table th {
        font-weight: 600;
        font-family: Roboto,sans-serif;
    }
    .card-title-desc {
        color: #6c757d;
        margin-bottom: 0px;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h4 class="card-title">Yönetici Hareketleri</h4>
                        <p class="card-title-desc">Yöneticilerin gerçekleştirdiği tüm işlemlerle ilgili kayıtları bu sayfada bulabilirsiniz!</p>
                        @if (TempData["LogMessage"] != null)
                        {<p><span class="text-danger">@TempData["LogMessage"]</span><a asp-controller="Settings" asp-action="Ayarlar" class="btn btn-link">Ayarlar</a><span class="text-danger">sekmesine gidin</span></p>}
                    </div>
                    <div class="col-sm-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="float:right">
                                <li class="page-item">
                                    <a asp-action="Loglar" class="btn btn-link">Başa Dön</a>
                                </li>
                                <li class="page-item">
                                    <a asp-action="Loglar" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-link @prevDisabled">Önceki</a>
                                </li>
                                <li class="page-item">
                                    <a asp-action="Loglar" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-link @nextDisabled">Sonraki</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="btn-toolbar" role="toolbar" style="float:right;">
                            <div class="btn-group me-2 mb-2 mb-sm-0">
                               
                            </div>
                            <div class="btn-group me-2 mb-2 mb-sm-0">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-bs-pattern="priority-columns">
                        <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">İşlem Yapan</th>
                                    <th>Hareket</th>
                                    <th>Zaman</th>
                                    <th>Durum</th>
                                    <th>Sayfa</th>
                                    <th>Detay</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a class="btn btn-primary" asp-controller="Log" asp-action="Loglar" style="margin: auto 0; display: block; position: relative;"><i class="mdi mdi-refresh"></i></a></td>
                                    <td>
                                        <form asp-action="Loglar" asp-controller="Log" method="get">
                                            @Html.DropDownList("ProcessID", (SelectList)ViewBag.Islemler, ("İşlem Seçiniz"), new { @class = "form-control", onchange = "this.form.submit();", name = "ProcessID" })
                                        </form>
                                    </td>
                                    <td></td>
                                    <td>
                                        <form asp-action="Loglar" asp-controller="Log" method="get">
                                            @Html.DropDownList("TransactionID", (SelectList)ViewBag.Durumlar, ("Durum Seçiniz"), new { @class = "form-control", onchange = "this.form.submit();", name = "TransactionID" })
                                        </form>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.userlogs.UserNameLog)</td>
                                        <td>@Html.DisplayFor(modelItem => item.processes.ProcessesName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Hour)</td>
                                        <td>@Html.DisplayFor(modelItem => item.transaction.TransactionNames)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Action) - @Html.DisplayFor(modelItem => item.Controller)
                                        </td>
                                        <td id="tooltip-container" class="button-items">
                                            <a style="padding:3px;" data-bs-container="#tooltip-container" 
                                               data-bs-toggle="tooltip" 
                                               data-bs-placement="top" title="Log Detayını Gör" asp-action="LogDetay" asp-controller="Log" asp-route-id="@item.Id"><i class="mdi mdi-eye mdi-24px"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



